@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}
@-webkit-keyframes pageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}
@-o-keyframes pageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}
@keyframes pageHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}
@-moz-keyframes pageOpen {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes pageOpen {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes pageOpen {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes pageOpen {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes pageFullsize {
  0% {
    top: 65px;
    width: 66%;
  }
  100% {
    top: 40px;
    width: 100%;
  }
}
@-webkit-keyframes pageFullsize {
  0% {
    top: 65px;
    width: 66%;
  }
  100% {
    top: 40px;
    width: 100%;
  }
}
@-o-keyframes pageFullsize {
  0% {
    top: 65px;
    width: 66%;
  }
  100% {
    top: 40px;
    width: 100%;
  }
}
@keyframes pageFullsize {
  0% {
    top: 65px;
    width: 66%;
  }
  100% {
    top: 40px;
    width: 100%;
  }
}
@-moz-keyframes pageNorsize {
  0% {
    top: 40px;
    width: 100%;
  }
  100% {
    top: 65px;
    width: 66%;
  }
}
@-webkit-keyframes pageNorsize {
  0% {
    top: 40px;
    width: 100%;
  }
  100% {
    top: 65px;
    width: 66%;
  }
}
@-o-keyframes pageNorsize {
  0% {
    top: 40px;
    width: 100%;
  }
  100% {
    top: 65px;
    width: 66%;
  }
}
@keyframes pageNorsize {
  0% {
    top: 40px;
    width: 100%;
  }
  100% {
    top: 65px;
    width: 66%;
  }
}
@-moz-keyframes error-border-flash {
  0% {
    border-color: rgba(229,77,77,0);
  }
  66% {
    border-color: rgba(229,77,77,0.5);
  }
  33%, 100% {
    border-color: #e54d4d;
  }
}
@-webkit-keyframes error-border-flash {
  0% {
    border-color: rgba(229,77,77,0);
  }
  66% {
    border-color: rgba(229,77,77,0.5);
  }
  33%, 100% {
    border-color: #e54d4d;
  }
}
@-o-keyframes error-border-flash {
  0% {
    border-color: rgba(229,77,77,0);
  }
  66% {
    border-color: rgba(229,77,77,0.5);
  }
  33%, 100% {
    border-color: #e54d4d;
  }
}
@keyframes error-border-flash {
  0% {
    border-color: rgba(229,77,77,0);
  }
  66% {
    border-color: rgba(229,77,77,0.5);
  }
  33%, 100% {
    border-color: #e54d4d;
  }
}
/*# sourceMappingURL=stylus/animations.css.map */