* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background: #edeff1;
  color: #2b2b2b;
  font-size: 16px;
  font-family: 'Roboto', sans-serif, Arial;
}
body,
html {
  min-height: 100%;
}
.c_light {
  color: rgba(0,0,0,0.5);
}
.m_top_20 {
  margin-top: 20px;
}
.m_top_30 {
  margin-top: 30px;
}
.m_top_40 {
  margin-top: 40px;
}
.button {
  background: #0382ce;
  color: #fff;
  font-weight: 500;
  height: 44px;
  line-height: 42px;
  padding: 0 40px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  cursor: pointer;
}
.button:hover {
  background-color: #038bdd;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 4px 18px -5px rgba(0,0,0,0.2);
}
.small_text {
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  line-height: 1.3;
}
.small_text p {
  margin: 0 0 5px;
}
.wrap {
  width: 900px;
  margin: 0 auto;
}
header {
  padding: 16px 0;
}
.logo {
  position: relative;
  width: 151px;
  height: 28px;
  background: url("../images/logo.svg") no-repeat 0 0;
  background-size: 100% auto;
  text-indent: -10000em;
}
section {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.09), 0px 0px 1px 0px rgba(0,0,0,0.22);
  padding: 40px 20px 20px;
  margin: 0 0 30px;
}
.title {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin: 0 0 40px;
}
.form_group {
  margin-bottom: 15px;
  zoom: 1;
}
.form_group:before,
.form_group:after {
  content: "";
  display: table;
}
.form_group:after {
  clear: both;
}
.form_buttons {
  margin-top: 30px;
  zoom: 1;
}
.form_buttons:before,
.form_buttons:after {
  content: "";
  display: table;
}
.form_buttons:after {
  clear: both;
}
.form_horizontal .property_label {
  padding-top: 13px;
}
.property_label {
  color: rgba(0,0,0,0.5);
  text-align: right;
  float: left;
  width: 30%;
  margin-right: 4%;
}
.property_value {
  float: left;
  width: 45%;
}
.field_block {
  padding: 12px 15px;
  background: rgba(0,0,0,0.03);
  border: 1px solid #d1d1d1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.field_block.summ {
  width: auto;
  display: inline-block;
}
.field_block.total {
  background: #eaf5f9;
  border: none;
  font-size: 20px;
  display: inline-block;
  width: auto;
  margin-top: -3px;
}
.visa_mc_img {
  display: inline-block;
  width: 90px;
  height: 32px;
  background: url("../images/visa_mc.png") no-repeat 0 0;
  background-size: 100% auto;
}
.info_text {
  text-align: center;
  padding: 80px 150px 120px;
}
.info_text .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 0 20px;
  background: url("../images/font_icons/info.svg") no-repeat 0 0;
  background-size: 100% auto;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.info_text .title {
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 10px;
}
iframe {
  overflow: hidden;
  margin-bottom: -15px;
}
.loading_block {
  position: relative;
}
.loading_block[data-loading-text]:after {
  background-position: center calc(50% - 12px);
}
.loading_block:before {
  content: ' ' attr(data-loading-text) ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 101;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  font-size: 14px;
  color: #2b2b2b;
  text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
  width: 80%;
}
.loading_block:after {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  z-index: 100;
}
@media screen and (max-width: 900px) {
  .wrap {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  section {
    padding-top: 30px;
  }
  .title {
    text-align: left;
    margin-bottom: 30px;
  }
  .property_label,
  .property_value {
    float: none;
    width: 100%;
    text-align: left;
  }
  .form_horizontal .property_label {
    margin-bottom: 5px;
    padding-top: 0;
  }
  .m_top_30 {
    margin-top: 0;
  }
  .form_buttons .property_label {
    display: none;
  }
  .form_buttons .small_text {
    margin-top: 30px;
  }
}
