.button {
  display: inline-block;
  font-size: 19px;
  font-family: 'Roboto', Arial;
  font-weight: normal;
  color: #fff;
  background: #00aeef;
  background-repeat: no-repeat;
  text-align: center;
  height: 46px;
  line-height: 44px;
  border-radius: 3px;
  padding: 0 30px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.2), inset 0px -3px 0px 0px rgba(255,255,255,0.1);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.05);
  transition: 0.2s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.button:hover {
  background-color: #00b8fd;
  color: #fff;
}
.button:hover:before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.button.second {
  background: #8dc63f;
}
.button.second:hover {
  background-color: #98cc52;
}
.button.second:active {
  background-color: #86bf39;
}
.button.cancel {
  background: #e54d4d;
}
.button.cancel:hover {
  background-color: #e85f5f;
}
.button.cancel:active {
  background-color: #e34040;
}
.button.dark {
  background: #2d4668;
}
.button.dark:hover {
  background-color: #324e75;
}
.button.dark:active {
  background-color: #2b4263;
}
.button.clean {
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #828a96;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 300;
}
.button.clean:hover {
  color: #00aeef;
}
.button.small {
  height: 34px;
  line-height: 33px;
  font-size: 13px;
  padding: 0 15px;
}
.button.middle {
  height: 42px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 22px;
}
.button.full {
  width: 100%;
  text-align: center;
}
.button.disabled,
.button[disabled] {
  background-color: #cfd4db;
  cursor: default;
}
.button.disabled:hover,
.button[disabled]:hover {
  background-color: #cfd4db;
}
.button.disabled:active,
.button[disabled]:active {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.05);
}
.button+.button {
  margin-left: 5px;
}
.button[class*='icon-']:before {
  vertical-align: -5px;
  font-size: 22px;
  margin: 0 10px 0 -10px;
}
.button.small[class*='icon-']:before {
  vertical-align: -3px;
  font-size: 16px;
  margin: 0 5px 0 -5px;
}
.button.loader {
  color: transparent;
  text-shadow: none;
  background-image: url("../images/loading_w.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: #00aeef;
}
.button.loader:hover {
  background-color: #00aeef;
  cursor: default;
}
.button.loader.second,
.button.loader.second:hover {
  background-color: #8dc63f;
}
.button.loader.dark:hover {
  background-color: #2d4668;
}
.button.loader.cancel,
.button.loader.cancel:hover {
  background-color: #e54d4d;
}
.button.loader:active {
  text-shadow: none;
}
.button:focus {
  outline: none;
}
.button:active {
  transition: 0.03s;
  background-color: #00a5e3;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.buttons_group {
  overflow: hidden;
  display: inline-block;
}
.buttons_group .button {
  border-radius: 0;
  margin: 0;
  float: left;
}
.buttons_group .button:after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 1px;
  background: rgba(255,255,255,0.2);
}
.buttons_group .button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.buttons_group .button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.buttons_group .button:last-child:after {
  display: none;
}
.buttons_group_filter .button {
  background: #ecf2f6;
  border: 1px solid #bbd0df;
  box-shadow: none;
  margin-left: -1px;
  color: #828a96;
  text-shadow: none;
}
.buttons_group_filter .button:hover {
  background: #f0f5f8;
}
.buttons_group_filter .button:after {
  display: none;
}
.buttons_group_filter .button:first-child {
  margin-left: 0;
}
.buttons_group_filter .button.active {
  background: #dce7ee;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  cursor: default;
}
.buttons_group_filter .button .ruble,
.buttons_group_filter .button .dollar,
.buttons_group_filter .button .euro {
  color: #828a96;
}
.buttons_group_filter .button.active .ruble {
  color: #c06433;
}
.buttons_group_filter .button.active .dollar {
  color: #7fb536;
}
.buttons_group_filter .button.active .euro {
  color: #00aeef;
}
.delete {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  z-index: 10;
  background: #fff url("../images/icon_delete.svg") no-repeat center;
  cursor: pointer;
  transition: 0.2s;
}
.delete:hover {
  transform: rotate(90deg);
}
/*# sourceMappingURL=stylus/buttons.css.map */