::-webkit-input-placeholder {
  color: #aaa;
}
::-moz-placeholder {
  color: #aaa;
}
:-ms-input-placeholder {
  color: #aaa !important;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="date"],
textarea {
  height: 42px;
  border: 1px solid #d0d3d7;
  border-radius: 0px;
  display: inline-block;
  background: #fff;
  font-family: 'Roboto', Arial;
  font-size: 16px;
  font-weight: 300;
  padding: 0 15px;
  color: #2d4668;
  box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0.18);
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-appearance: textfield;
  transition: 0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
textarea:focus {
  border-color: #00aeef;
  transition: 0.3s;
  box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0);
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="email"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="date"][disabled],
textarea[disabled],
input[type="text"].disabled,
input[type="password"].disabled,
input[type="search"].disabled,
input[type="email"].disabled,
input[type="tel"].disabled,
input[type="time"].disabled,
input[type="date"].disabled,
textarea.disabled {
  color: #aaa;
  background: #f5f5f5;
}
input[type="text"].error,
input[type="password"].error,
input[type="search"].error,
input[type="email"].error,
input[type="tel"].error,
input[type="time"].error,
input[type="date"].error,
textarea.error {
  animation: error-border-flash 0.5s both;
}
input[type="text"].error::-webkit-input-placeholder,
input[type="password"].error::-webkit-input-placeholder,
input[type="search"].error::-webkit-input-placeholder,
input[type="email"].error::-webkit-input-placeholder,
input[type="tel"].error::-webkit-input-placeholder,
input[type="time"].error::-webkit-input-placeholder,
input[type="date"].error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder {
  color: #ea7171;
}
input[type="text"].error::-moz-placeholder,
input[type="password"].error::-moz-placeholder,
input[type="search"].error::-moz-placeholder,
input[type="email"].error::-moz-placeholder,
input[type="tel"].error::-moz-placeholder,
input[type="time"].error::-moz-placeholder,
input[type="date"].error::-moz-placeholder,
textarea.error::-moz-placeholder {
  color: #ea7171;
}
input[type="text"].error:-ms-input-placeholder,
input[type="password"].error:-ms-input-placeholder,
input[type="search"].error:-ms-input-placeholder,
input[type="email"].error:-ms-input-placeholder,
input[type="tel"].error:-ms-input-placeholder,
input[type="time"].error:-ms-input-placeholder,
input[type="date"].error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder {
  color: #ea7171 !important;
}
input[type="text"].valid,
input[type="password"].valid,
input[type="search"].valid,
input[type="email"].valid,
input[type="tel"].valid,
input[type="time"].valid,
input[type="date"].valid,
textarea.valid,
input[type="text"].success,
input[type="password"].success,
input[type="search"].success,
input[type="email"].success,
input[type="tel"].success,
input[type="time"].success,
input[type="date"].success,
textarea.success {
  border-color: #8dc63f;
}
input[type="text"].small,
input[type="password"].small,
input[type="search"].small,
input[type="email"].small,
input[type="tel"].small,
input[type="time"].small,
input[type="date"].small,
textarea.small {
  height: 34px;
  padding: 0 10px;
  font-size: 14px;
}
input[type="text"].big,
input[type="password"].big,
input[type="search"].big,
input[type="email"].big,
input[type="tel"].big,
input[type="time"].big,
input[type="date"].big,
textarea.big {
  height: 46px;
  padding: 0 10px;
  font-size: 18px;
}
input[type="text"].second,
input[type="password"].second,
input[type="search"].second,
input[type="email"].second,
input[type="tel"].second,
input[type="time"].second,
input[type="date"].second,
textarea.second {
  border-color: transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12);
}
input[type="text"].second:focus,
input[type="password"].second:focus,
input[type="search"].second:focus,
input[type="email"].second:focus,
input[type="tel"].second:focus,
input[type="time"].second:focus,
input[type="date"].second:focus,
textarea.second:focus {
  box-shadow: 0 1px 1px rgba(45,70,104,0.3);
}
input[type="text"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
input[type="search"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
input[type="tel"]:-webkit-autofill,
input[type="time"]:-webkit-autofill,
input[type="date"]:-webkit-autofill,
textarea:-webkit-autofill {
  transition: 0s;
  box-shadow: 0 0 0 1000px #fff inset;
}
input[type='search'].input_search {
  border-radius: 30px;
  background-image: url("../images/icon_search_input.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px auto;
  padding-left: 26px;
  transition: 0.2s;
}
input[type='search'].input_search:focus {
  background-position: -15px center;
  padding-left: 10px;
}
textarea {
  padding: 10px 15px;
}
input[type='radio'],
input[type='checkbox'] {
  width: 14px;
  height: 14px;
  box-shadow: inset 0 0 0 1px #d0d3d7, inset 0 2px 1px 0 rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  appearance: none;
  vertical-align: -1px;
  position: relative;
}
input[type='radio']:active,
input[type='checkbox']:active {
  background: #eee;
  box-shadow: inset 0 0 0 1px #d0d3d7, inset 0 3px 1px 0 rgba(0,0,0,0.2);
}
input[type='radio']:checked,
input[type='checkbox']:checked {
  box-shadow: inset 0 0 0 5px #00aeef;
}
input[type='checkbox'] {
  border-radius: 2px;
}
input[type='checkbox']:checked {
  box-shadow: none;
  background: #00aeef;
}
input[type='checkbox']:checked:after {
  font-family: "mb-icon-font";
  content: 's';
  position: absolute;
  display: inline-block;
  top: 1px;
  left: 1px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
label.check {
  cursor: pointer;
  color: #828a96;
  transition: 0.2s;
}
label.check:hover {
  color: #2d4668;
}
label.check input[type="checkbox"] {
  margin-right: 5px;
}
input.search_right {
  background: url("../images/search.svg") no-repeat calc(100% - 15px) center;
  padding-right: 40px;
}
input.search_left {
  background: url("../images/search.svg") no-repeat 15px center;
  padding-left: 40px;
}
.form_select {
  height: 42px;
  border-radius: 0px;
  background: url("../images/select_arrow.svg") no-repeat calc(100% - 15px) center;
  width: auto;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #d0d3d7;
}
.form_select select {
  background: transparent;
  appearance: none;
  height: 42px;
  width: 120%;
  width: calc(100% + 20px);
  border: none;
  border-radius: 0;
  font-family: 'Roboto', Arial;
  font-size: 16px;
  font-weight: 300;
  padding: 0 40px 0 15px;
  cursor: pointer;
  margin: 0;
}
.form_select select:focus {
  color: #00aeef;
}
.form_select select option {
  color: #2d4668;
}
.form_group {
  margin: 0 0 15px;
}
.form_group .property_label {
  text-align: right;
  color: #828a96;
  padding-right: 10px;
}
.form_horizontal .property_label {
  padding-top: 10px;
}
.form_buttons {
  margin: 30px 0 0;
}
.form_buttons .links {
  display: inline-block;
  margin: 0 0 0 12px;
  font-size: 15px;
}
.form_buttons .links a {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #828a96;
}
.form_buttons .links a:hover {
  color: #2d4668;
  text-decoration: underline;
}
.form_buttons+[class*="info_"],
.form_buttons+[class*="captcha"] {
  margin-top: 15px;
}
.input_group {
  display: table;
  vertical-align: middle;
}
.input_group input {
  display: table-cell;
  width: 100%;
}
.input_group_addon {
  display: table-cell;
  width: auto;
  height: 42px;
  min-width: 42px;
  line-height: 40px;
  border: 1px solid #d0d3d7;
  border-right: none;
  border-radius: 0px;
  background: #fafafa;
  font-family: 'Roboto', Arial;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 0 15px;
  color: #aaa;
  box-sizing: border-box;
  vertical-align: middle;
}
.input_group_addon[class*='icon-']:before {
  min-width: 0 !important;
}
.input_group_addon.icon-password {
  width: 50px;
  text-align: center;
}
.input_group_addon.icon-password:before {
  width: 10px;
}
.input_group_addon.addon_code {
  width: 50px;
}
.input_group_title {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 10px;
}
.input_group_title .input_title {
  position: absolute;
  top: -2px;
  font-size: 13px;
  padding: 0px 5px;
  background: #fff;
  display: inline-block;
  margin: 0 0 0 7px;
  color: #828a96;
  transition: 0.2s;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}
.input_group_title input {
  display: block;
}
.switch_group {
  display: inline-block;
}
.switch_group .switch_item {
  float: left;
}
.switch_group .switch_item input[type='radio'] {
  position: absolute;
  top: 12px;
  left: 9px;
}
.switch_group .switch_item input[type='radio']:checked ~ label {
  background: #c4deee;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  border-color: #abc5d7;
  cursor: default;
  color: #2d4668;
  z-index: 10;
}
.switch_group .switch_item label {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  background: #ecf2f6;
  border: 1px solid #bbd0df;
  margin-left: -1px;
  color: #828a96;
  padding: 0 10px 0 30px;
  font-size: 14px;
  cursor: pointer;
}
.switch_group .switch_item:first-child label {
  margin-left: 0;
}
.switch_group .switch_item:first-child label {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.switch_group .switch_item:last-child label {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.switch_group.switch_tabs .switch_item input[type='radio'] {
  display: none;
}
.switch_group.switch_tabs .switch_item input[type='radio']:checked ~ label:after,
.switch_group.switch_tabs .switch_item input[type='radio']:checked ~ label:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: -1px;
}
.switch_group.switch_tabs .switch_item input[type='radio']:checked ~ label:after {
  border-color: rgba(255,255,0,0);
  border-top-color: #c4deee;
  border-width: 6px;
  margin-left: -6px;
}
.switch_group.switch_tabs .switch_item input[type='radio']:checked ~ label:before {
  border-color: rgba(0,255,0,0);
  border-top-color: #abc5d7;
  border-width: 7px;
  margin-left: -7px;
}
.switch_group.switch_tabs .switch_item label {
  padding: 0 15px;
}
.switch_group.small .switch_item label {
  height: 32px;
  line-height: 30px;
}
.button_file_upload {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.button_file_upload input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  font-size: 150px;
  line-height: 150px;
  height: 150px;
}
.button_file_upload:active {
  transform: none;
}
.captcha .captcha_left {
  float: left;
  width: 110px;
  margin: 0 20px 0 0;
}
.captcha .captcha_left input {
  width: 100%;
}
.captcha .captcha_left a {
  font-size: 13px;
  color: #828a96;
  display: block;
  margin: 5px 0 0;
}
.captcha img {
  width: 100px !important;
}
.select2 {
  display: inline-block;
  vertical-align: middle;
}
.select2.error .select2-choice {
  color: #e54d4d;
  animation: error-border-flash 0.5s both;
}
.select2-container {
  position: relative;
}
.select2-container .select2-choice {
  display: block;
  height: 42px;
  line-height: 41px;
  border: 1px solid #d0d3d7;
  border-radius: 0px;
  font-family: 'Roboto', Arial;
  font-size: 16px;
  font-weight: 300;
  padding: 0 45px 0 15px;
  box-sizing: border-box;
  color: #2d4668;
  text-decoration: none;
  background: #fff url("../images/select_arrow.svg") no-repeat calc(100% - 15px) center;
  cursor: pointer;
  box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0.18);
}
.select2-container .select2-choice.select2-default {
  color: #aaa;
}
.select2-container.select2-container-disabled .select2-choice {
  color: #aaa;
  background: #f5f5f5;
  cursor: default;
}
.select2-container .select2-drop {
  position: absolute;
  z-index: 1000;
  top: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
  min-width: 100%;
  color: #828a96;
}
.select2-container .ui-select-choices-row {
  border-bottom: 1px solid #ecedef;
  margin: 0 10px;
}
.select2-container .ui-select-choices-row:last-child {
  border-bottom: none;
}
.select2-container .ui-select-choices-row:last-child .ui-select-choices-row-inner {
  padding-bottom: 15px;
}
.select2-container .ui-select-choices-row:first-child .ui-select-choices-row-inner {
  padding-top: 15px;
}
.select2-container .ui-select-choices-row-inner {
  padding: 8px 25px 8px 0px;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}
.select2-container .select2-highlighted {
  color: #00aeef;
}
.select2-container .select2-display-none {
  display: none !important;
}
.select2-container .select2-search {
  border-bottom: 1px solid #e8e9eb;
}
.select2-container .select2-search input {
  border: none;
  width: 100%;
  background: url("../images/icon_search_input.svg") no-repeat 10px center;
  background-size: 16px auto;
  padding-left: 34px;
  box-shadow: none !important;
  font-size: 15px;
}
.select2-container .select2-results {
  max-height: 186px;
  overflow-x: hidden;
  overflow-y: auto;
}
.select2-container.select2-nosearch .select2-search {
  height: 0;
  overflow: hidden;
}
.select2-dropdown-open .select2-choice,
.select2-container-active .select2-choice {
  border-color: #00aeef;
}
.select2-inline {
  vertical-align: top;
}
.select2-inline .select2-choice {
  display: inline-block;
  height: auto;
  line-height: normal;
  padding: 0;
  border: none;
  background: none;
  color: #00aeef;
  border-bottom: 1px dashed #00aeef;
  box-shadow: none;
}
.select2-inline .select2-choice.select2-default {
  color: #00aeef;
}
.select2-inline .select2-drop {
  top: calc(100% + 5px);
}
.select2-autocomplete {
  width: 200px;
}
.select2-autocomplete .select2-choice {
  background-image: none;
  width: 100%;
  white-space: nowrap;
  padding-right: 15px;
}
.select2-autocomplete .select2-drop {
  position: relative;
  display: inline-block;
  box-shadow: none;
  width: 100%;
}
.select2-autocomplete .select2-search {
  border: none;
  width: 100%;
}
.select2-autocomplete .select2-search input {
  border: 1px solid #d0d3d7;
  background-image: none;
  padding-right: 15px;
  padding-left: 15px;
}
.select2-autocomplete .select2-search input:focus {
  border-color: #00aeef;
}
.select2-autocomplete .ui-select-choices {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 100%;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  min-width: 100%;
  min-width: 120px;
  color: #828a96;
}
.file_upload_block {
  width: 170px;
  height: 135px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px dashed #adbac5;
  display: inline-block;
  float: left;
  vertical-align: middle;
  padding: 10px 10px 0;
  box-sizing: border-box;
  text-align: center;
}
.file_upload_block:nth-child(4n-3) {
  margin-left: 0;
}
.file_upload_block.error {
  border-color: #e54d4d;
}
.file_upload_block.error .file_title {
  color: #d0021b;
}
.file_upload_block .uploaded {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12);
  padding: 10px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.file_upload_block .uploaded .file_title {
  color: #2d4668;
  margin-top: 5px;
}
.file_upload_block .icon-info {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 10;
}
.file_upload_block .file_icon {
  margin-bottom: 10px;
}
.file_upload_block .file_delete {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -8px;
  top: -8px;
  border-radius: 50%;
  z-index: 10;
  background: #fff url("../images/icon_delete.svg") no-repeat center;
  cursor: pointer;
  transition: 0.2s;
}
.file_upload_block .file_delete:hover {
  transform: rotate(90deg);
}
.file_upload_block .file_name {
  color: #828a96;
  font-size: 12px;
  overflow: ellipsis;
}
.file_upload_block .file_title {
  color: #828a96;
  font-size: 13px;
  line-height: 120%;
  max-height: 45px;
  overflow: hidden;
}
.file_upload_block .file_button {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
.file_upload_block .total-progress-box {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}
.file_upload_block .total-progress {
  display: inline-block;
  border-radius: 50px;
  width: 44px;
  height: 44px;
}
.file_upload_block .total-progress:before {
  content: '';
  width: 34px;
  height: 34px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: #ecf2f6;
}
.file_upload_block .total-progress-value {
  position: absolute;
  font-size: 13px;
  left: 6px;
  top: 6px;
  height: 30px;
  right: 6px;
  line-height: 30px;
  text-align: center;
}
.file_upload_block .progress-1 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(93.6deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-2 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(97.2deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-3 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(100.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-4 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(104.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-5 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(108deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-6 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(111.6deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-7 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(115.2deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-8 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(118.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-9 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(122.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-10 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(126deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-11 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(129.6deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-12 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(133.2deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-13 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(136.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-14 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(140.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-15 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(144deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-16 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(147.6deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-17 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(151.2deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-18 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(154.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-19 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(158.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-20 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(162deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-21 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(165.60000000000002deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-22 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(169.2deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-23 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(172.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-24 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(176.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-25 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(180deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-26 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(183.60000000000002deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-27 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(187.2deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-28 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(190.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-29 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(194.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-30 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(198deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-31 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(201.60000000000002deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-32 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(205.2deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-33 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(208.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-34 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(212.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-35 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(216deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-36 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(219.6deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-37 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(223.20000000000002deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-38 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(226.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-39 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(230.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-40 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(234deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-41 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(237.6deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-42 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(241.20000000000002deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-43 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(244.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-44 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(248.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-45 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(252deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-46 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(255.6deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-47 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(259.20000000000005deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-48 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(262.8deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-49 {
  background-image: linear-gradient(90deg, #ecf2f6 50%, transparent 50%, transparent), linear-gradient(266.4deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-50 {
  background-image: linear-gradient(-90deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-51 {
  background-image: linear-gradient(-86.4deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-52 {
  background-image: linear-gradient(-82.8deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-53 {
  background-image: linear-gradient(-79.2deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-54 {
  background-image: linear-gradient(-75.6deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-55 {
  background-image: linear-gradient(-72deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-56 {
  background-image: linear-gradient(-68.4deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-57 {
  background-image: linear-gradient(-64.8deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-58 {
  background-image: linear-gradient(-61.2deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-59 {
  background-image: linear-gradient(-57.6deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-60 {
  background-image: linear-gradient(-54deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-61 {
  background-image: linear-gradient(-50.4deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-62 {
  background-image: linear-gradient(-46.8deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-63 {
  background-image: linear-gradient(-43.199999999999996deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-64 {
  background-image: linear-gradient(-39.6deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-65 {
  background-image: linear-gradient(-36deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-66 {
  background-image: linear-gradient(-32.4deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-67 {
  background-image: linear-gradient(-28.799999999999997deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-68 {
  background-image: linear-gradient(-25.200000000000003deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-69 {
  background-image: linear-gradient(-21.599999999999994deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-70 {
  background-image: linear-gradient(-18deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-71 {
  background-image: linear-gradient(-14.399999999999991deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-72 {
  background-image: linear-gradient(-10.799999999999997deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-73 {
  background-image: linear-gradient(-7.200000000000003deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-74 {
  background-image: linear-gradient(-3.599999999999994deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-75 {
  background-image: linear-gradient(0deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-76 {
  background-image: linear-gradient(3.600000000000009deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-77 {
  background-image: linear-gradient(7.200000000000003deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-78 {
  background-image: linear-gradient(10.799999999999997deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-79 {
  background-image: linear-gradient(14.400000000000006deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-80 {
  background-image: linear-gradient(18deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-81 {
  background-image: linear-gradient(21.60000000000001deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-82 {
  background-image: linear-gradient(25.200000000000003deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-83 {
  background-image: linear-gradient(28.799999999999997deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-84 {
  background-image: linear-gradient(32.400000000000006deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-85 {
  background-image: linear-gradient(36deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-86 {
  background-image: linear-gradient(39.599999999999994deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-87 {
  background-image: linear-gradient(43.20000000000002deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-88 {
  background-image: linear-gradient(46.80000000000001deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-89 {
  background-image: linear-gradient(50.400000000000006deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-90 {
  background-image: linear-gradient(54deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-91 {
  background-image: linear-gradient(57.599999999999994deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-92 {
  background-image: linear-gradient(61.20000000000002deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-93 {
  background-image: linear-gradient(64.80000000000001deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-94 {
  background-image: linear-gradient(68.4deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-95 {
  background-image: linear-gradient(72deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-96 {
  background-image: linear-gradient(75.6deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-97 {
  background-image: linear-gradient(79.20000000000002deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-98 {
  background-image: linear-gradient(82.80000000000001deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-99 {
  background-image: linear-gradient(86.4deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
.file_upload_block .progress-100 {
  background-image: linear-gradient(90deg, #00aeef 50%, transparent 50%, transparent), linear-gradient(270deg, #00aeef 50%, #ecf2f6 50%, #ecf2f6);
}
/*# sourceMappingURL=stylus/forms.css.map */