.messenger {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  width: 300px;
  background: #fff;
  box-shadow: 0px 6px 10px 0px rgba(37,33,18,0.23);
  transition: 0.3s;
  animation-duration: 0.3s;
}
.messenger.hide {
  opacity: 0;
  transform: translateX(150px);
}
.messenger.open {
  animation-name: pageOpen;
}
.messenger.fullsize .messenger_main {
  max-height: 10000px;
  height: calc(100vh - 65px - 42px);
}
.messenger.fullsize .icon-arrow-up {
  transform: rotate(180deg);
  margin-top: -2px;
}
.messenger_header {
  height: 40px;
  background: cl2;
  border-bottom: 3px solid cl4;
}
.messenger_header_action {
  float: right;
  padding: 10px 10px 0 0;
}
.messenger_header_action a[class*='icon-'] {
  float: right;
  margin: 0 0 0 10px;
  color: #fff;
}
.messenger_header_action a[class*='icon-']:hover {
  opacity: 0.8;
}
.messenger_header_title {
  padding: 10px 0 0 10px;
  font-size: fzn -2px;
  font-weight: normal;
  display: inline-block;
}
.messenger_header_title a {
  color: #fff;
}
.messenger_header_title a:hover {
  opacity: 0.8;
}
.messenger_main {
  width: 100%;
  max-height: 350px;
  min-height: 250px;
  overflow: auto;
  transition: max-height 0.3s;
}
.messenger_theme_item {
  margin: -1px 0 0;
  font-size: fzn -2px;
}
.messenger_theme_item:after {
  content: '';
  display: block;
  height: 1px;
  background: cbd50%;
  margin: -1px 10px 0 20px;
  z-index: 0;
}
.messenger_theme_item.new .message {
  color: ctext;
}
.messenger_theme_item.new:before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: cl3;
  position: absolute;
  left: 7px;
  top: 45%;
  z-index: 20;
}
.messenger_theme_item a {
  position: relative;
  z-index: 10;
  text-decoration: none;
  display: block;
  padding: 13px 10px 13px 20px;
  line-height: 14px;
}
.messenger_theme_item a:hover {
  background: cl485%;
}
.messenger_theme_item .photo {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 46px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}
.messenger_theme_item .photo img {
  width: 50px;
  height: 50px;
}
.messenger_theme_item .desc {
  display: block;
  margin: 0 0 0 60px;
}
.messenger_theme_item .date {
  float: right;
  font-size: fzn -4px;
  color: ctextlight;
}
.messenger_theme_item .name {
  font-weight: 500;
  display: inline-block;
  margin: 0 0 3px;
  color: ctext;
  overflow: ellipsis;
  max-width: 82%;
  font-size: fzn -3px;
}
.messenger_theme_item .message {
  font-size: fzn -4px;
  color: ctextlight;
  max-height: 30px;
  overflow: hidden;
  display: block;
}
.messenger_new_theme {
  padding: 65px 15px 15px;
  background: url("../images/new_theme_back.svg") no-repeat center 15px;
  font-weight: normal;
  color: ctextlight;
  text-align: center;
  font-size: fzn -3px;
}
.messenger_new_theme .form {
  margin-top: 20px;
}
.messenger_new_theme .form textarea {
  width: 100%;
  height: 90px;
  resize: none;
  font-size: fzn -3px;
  padding: 7px 10px;
}
.messenger_new_theme .form .form_buttons {
  margin-top: 10px;
}
.messenger_chat {
  padding: 5px 15px;
  overflow: auto;
  max-height: 250px;
}
.messenger_chat .item {
  margin: 0 0 10px;
  font-size: fzn -4px;
}
.messenger_chat .item.right .date {
  left: 0;
}
.messenger_chat .item.right .desc {
  margin-left: 45px;
  margin-right: 0;
}
.messenger_chat .item.right .message {
  color: ctext;
  background: cl485%;
  font-weight: 300;
  margin-right: 0;
}
.messenger_chat .date {
  position: absolute;
  top: 50%;
  right: 0;
  color: ctextlight;
}
.messenger_chat .photo {
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
  width: 40px;
  height: 40px;
  margin: 0 3px 0 10px;
  line-height: 36px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  border: 3px solid #fff;
}
.messenger_chat .photo img {
  width: 40px;
  height: 40px;
}
.messenger_chat .name {
  display: inline-block;
  vertical-align: 0px;
  font-weight: 400;
  color: ctext;
  overflow: ellipsis;
  max-width: 75%;
  overflow: ellipssis;
}
.messenger_chat .message {
  z-index: 0;
  background: cl2;
  color: #fff;
  font-weight: normal;
  border-radius: 10px;
  padding: 20px 12px 12px;
  margin: -15px 45px 0 0;
}
.first_message_add {
  margin: 20px 0;
  padding: 35px 15px 0;
  text-align: center;
  background: url("../images/chat_smile.svg") no-repeat center 0;
  font-size: fzn -4px;
  color: ctextlight;
}
.messenger_chat_date_group {
  height: 10px;
  margin: 20px -15px 30px;
  border-bottom: 1px solid cbd50%;
  text-align: center;
  font-size: fzn -4px;
  color: ctextlight;
}
.messenger_chat_date_group span {
  display: inline-block;
  height: 20px;
  line-height: 18px;
  padding: 0 10px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid cbd50%;
}
.add_message {
  z-index: 100;
  padding: 10px 15px 10px;
  background: #fff;
  box-shadow: 0 -5px 20px #fff;
}
.add_message .input_text,
.add_message .input_button {
  float: left;
}
.add_message .input_text {
  width: 82%;
}
.add_message .input_button {
  width: 17%;
  margin-left: 1%;
}
.add_message input[type='text'] {
  width: 100%;
  font-size: fzn -2px;
}
.add_message .button.middle {
  width: 100%;
  padding: 0;
  text-align: center;
}
/*# sourceMappingURL=stylus/messenger.css.map */