@charset "utf-8";
.new_function {
  width: 700px;
  margin: 30px auto;
}
.new_function .logo {
  height: 45px;
  display: block;
  background: url("../images/logo.svg") no-repeat center center;
  background-size: auto 100%;
  text-indent: -10000em;
  margin: 0 0 30px;
}
.new_function h1 {
  text-align: center;
  margin: 0 0 20px;
}
.new_function .block {
  padding: 40px 40px 10px;
  background: #fff;
  margin: 0 0 30px;
}
.new_function .block h1 {
  color: #2d4668;
  margin: 50px 0 40px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
}
.new_function .block h1:first-child {
  margin-top: 0;
}
.new_function p {
  line-height: 1.4;
  margin: 0 0 15px;
}
.new_function figure {
  margin: 20px 0;
  text-align: center;
}
.new_function img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  padding: 5px;
  border: 1px solid #d1d1d1;
}
.new_function img.clear {
  box-shadow: none;
  border: none;
}
.new_function .nav {
  text-align: center;
}
.new_function .nav a {
  display: inline-block;
  margin: 0 10px;
}
.new_function .nav a.icon-right-big:before {
  float: right;
  margin-left: 5px;
  margin-top: 1px;
}
