.ui-select-highlight {
  font-weight: bold;
}
.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1rem !important;
  height: 1rem !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0rem !important;
  top: 0rem !important;
}
.ng-dirty.ng-invalid > a.select2-choice {
  border-color: #d44950;
}
.ng-dirty.ng-invalid > div.selectize-input {
  border-color: #d44950;
}
.select2-result-single {
  padding-left: 0;
}
.select2-locked > .select2-search-choice-close {
  display: none;
}
.select-locked > .ui-select-match-close {
  display: none;
}
.selectize-input.selectize-focus {
  border-color: #007fbb !important;
}
.selectize-control > .selectize-input > input {
  width: 100%;
}
.selectize-control > .selectize-dropdown {
  width: 100%;
}
.btn-default-focus {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
  text-decoration: none;
  outline: 5rem auto -webkit-focus-ring-color;
  outline-offset: -2rem;
  box-shadow: inset 0 1rem 1rem rgba(0,0,0,0.075), 0 0 8rem rgba(102,175,233,0.6);
}
.ui-select-bootstrap .ui-select-toggle {
  position: relative;
}
.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10rem;
  top: 50%;
  right: 10rem;
  margin-top: -2rem;
}
.ui-select-bootstrap > .ui-select-match {
  text-align: left;
}
.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15rem;
}
.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200rem;
  overflow-x: hidden;
  margin-top: -1rem;
}
.ui-select-bootstrap .ui-select-choices-row > a {
  display: block;
  padding: 3rem 20rem;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.ui-select-bootstrap .ui-select-choices-row.active > a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
  border-color: #d44950;
}
.input-group > .ui-select-bootstrap.dropdown {
  position: static;
}
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3rem 3rem 0 3rem;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important;
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3rem;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3rem 3rem 0;
}
.ui-select-multiple .ui-select-match-item {
  position: relative;
}
.ui-select-multiple .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2rem;
  border-left: 1rem solid #428bca;
}
.ui-select-multiple .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2rem;
  border-right: 1rem solid #428bca;
}
.ui-select-bootstrap .ui-select-choices-row>a:hover,
.ui-select-bootstrap .ui-select-choices-row>a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
  display: none !important;
}
.select2 {
  display: inline-block;
  vertical-align: middle;
}
.select2.error .select2-choice {
  color: cerror;
  animation: error-border-flash 0.5s both;
}
.select2-container {
  position: relative;
}
.select2-container .select2-choice {
  display: block;
  height: 40rem;
  line-height: 38rem;
  border: 1rem solid cbd;
  border-radius: brform;
  font-family: ffn;
  font-size: fzn;
  font-weight: 300;
  padding: 0 40rem 0 15rem;
  box-sizing: border-box;
  color: ctext;
  text-decoration: none;
  background-color: #fff;
  background-image: url("../images/select_arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 15rem) center;
  cursor: pointer;
  box-shadow: inset 0rem 2rem 2rem -2rem rgba(0,0,0,0.18);
}
.select2-container .select2-choice.select2-default {
  color: ctextdis;
}
.select2-container.select2-container-disabled .select2-choice {
  color: ctextdis;
  background: #f5f5f5;
  cursor: default;
}
.select2-container .select2-drop {
  position: absolute;
  z-index: 1000;
  top: 100%;
  background: #fff;
  box-shadow: 0 5rem 25rem rgba(0,0,0,0.2);
  min-width: 100%;
  color: ctextlight;
}
.select2-container .ui-select-choices-row {
  border-bottom: 1rem solid cbdlight;
  margin: 0 10rem;
}
.select2-container .ui-select-choices-row:last-child {
  border-bottom: none;
}
.select2-container .ui-select-choices-row:last-child .ui-select-choices-row-inner {
  padding-bottom: 15rem;
}
.select2-container .ui-select-choices-row:first-child .ui-select-choices-row-inner {
  padding-top: 15rem;
}
.select2-container .ui-select-choices-row-inner {
  padding: 8rem 25rem 8rem 0rem;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: fzn -2rem;
}
.select2-container .select2-highlighted {
  color: cl2;
}
.select2-container .select2-display-none {
  display: none !important;
}
.select2-container .select2-search {
  border-bottom: 1rem solid cbdlight;
}
.select2-container .select2-search input {
  border: none;
  width: 100%;
  background: url("../images/icon_search_input.svg") no-repeat 10rem center;
  background-size: 16rem auto;
  padding-left: 34rem;
  box-shadow: none !important;
  font-size: fzn -1rem;
}
.select2-container .select2-results {
  max-height: 186rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.select2-container.select2-nosearch .select2-search {
  height: 0;
  overflow: hidden;
}
.select2-dropdown-open .select2-choice,
.select2-container-active .select2-choice {
  border-color: cl2;
}
.select2-inline {
  vertical-align: top;
}
.select2-inline .select2-choice {
  display: inline-block;
  height: auto;
  line-height: normal;
  padding: 0;
  border: none;
  background: none;
  color: cl2;
  border-bottom: 1rem dashed cl2;
  box-shadow: none;
}
.select2-inline .select2-choice.select2-default {
  color: cl2;
}
.select2-inline .select2-drop {
  top: calc(100% + 5rem);
}
.select2-autocomplete {
  width: 200rem;
}
.select2-autocomplete .select2-choice {
  background-image: none;
  width: 100%;
  white-space: nowrap;
  padding-right: 15rem;
}
.select2-autocomplete .select2-drop {
  position: relative;
  display: inline-block;
  box-shadow: none;
  width: 100%;
}
.select2-autocomplete .select2-search {
  border: none;
  width: 100%;
}
.select2-autocomplete .select2-search input {
  border: 1rem solid cbd;
  background-image: none;
  padding-right: 15rem;
  padding-left: 15rem;
}
.select2-autocomplete .select2-search input:focus {
  border-color: cl2;
}
.select2-autocomplete .ui-select-choices {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 100%;
  background: #fff;
  box-shadow: 0 10rem 25rem rgba(0,0,0,0.2);
  min-width: 100%;
  min-width: 120rem;
  color: ctextlight;
}
/*# sourceMappingURL=temp.css.map */