@charset "utf-8"

@import 'nib'
@import 'variables.styl'
.page404, .page_clear
	position absolute
	width 100%
	height 100%
	background radial-gradient(65% 100%, cbglight 45%, cbglight - 20% 100%)
	overflow auto
	.logo
		width 270px
		height 50px
		position absolute
		top 40px
		left calc(50% - 135px)
		background url('../images/logo_full_d.svg')
		text-indent -10000em
	.content_wrap
		display table
		width 100%
		height 100%
	.content_cell
		display table-cell
		width 100%
		vertical-align middle
	.content
		width 400px
		margin 0 auto
		text-align center
		p
			margin 0 0 15px

	&.old_browser
		.content_cell
			padding-top 120px
			padding-bottom 30px
		.content
			width 600px
			text-align justify
			font-size fzn - 2px
		.browser_list
			overflow hidden
			margin 50px 0 0
			li
				float left
				width 25%
				text-align center
				box-sizing border-box
				padding 0 5px
				font-size fzn - 3px
				a
					display block
					background-size 50% auto
					background-repeat no-repeat
					background-position center 15px
					padding 110px 0 25px
					border-radius 5px
					background-color rgba(#fff,0.5)
					text-decoration none
					&:hover
						background-color #fff
					&.chrome
						background-image url(../images/browser_chrome.png)
					&.firefox
						background-image url(../images/browser_firefox.png)
					&.ie
						background-image url(../images/browser_ie.png)
					&.safari
						background-image url(../images/browser_safari.png)



