@charset "utf-8"

@import 'nib'

@import 'fonts.styl'
@import 'base.styl'
@import 'table.styl'
@import 'buttons.styl'
@import 'forms.styl'
@import 'animations.styl'
@import 'select.styl'
@import 'main.styl'
@import 'messenger.styl'
@import 'datetimepicker.styl'
@import 'transaction.styl'

header
	// background desaturate(cl1,30%) + 5%
	left 0
	color #fff
section.main
	right 0
	padding 25rem 15rem 25rem 25rem
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch

.header_profile
	.header_profile_name
		color #fff
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		min-width 160rem
		max-width 200rem
		.avatar
			width 30rem
			height 30rem
			font-size @width*0.5
			margin-top -2rem
			margin-right 5rem
	.header_profile_settigs a,
	.header_profile_logout a
		color #fff

	.header_profile_settigs,
	.header_profile_help,
	.header_profile_logout,
	.header_profile_name
		border-color desaturate(cl1,30%) + 12%

.profile_progress
	float right
	display inline-block
	margin 0rem 20rem 0 0
	color ctextlight
	font-size fzn
	position absolute
	top 0
	line-height 58rem
	right 30%
	color #fff
	.success_text
		color cl3 + 30%
	.error_text
		color ctexterror + 40%
	.icon-thumbs-down
		&:before
			vertical-align -3rem

.header_admin_menu
	display inline-block
	height 100%
	margin 0 0 0 10rem
	li
		float left
		height 100%
		position relative
		margin 0 15rem
		@media screen and (max-width:1100px)
			margin 0 10rem
		a
			color rgba(#fff,0.8)
			display block
			height 100%
			height 60rem
			line-height 58rem
			padding 0
			transition none
			text-decoration none
			font-size fzn

			&:hover
				color #fff
			&:before
				transition none
		&.active

			// &:after
			// 	top 100%
			// 	left 50%
			// 	border solid transparent
			// 	content " "
			// 	height 0
			// 	width 0
			// 	position absolute
			// 	pointer-events none
			// 	border-color rgba(136, 183, 213, 0)
			// 	border-top-color cl3
			// 	border-width 7rem
			// 	border-top-width 5rem
			// 	margin-left -7rem
			a
				color #fff
				box-shadow inset 0 -5rem 0 cl3
				font-weight normal
				text-decoration none



.add_news_dashboard, .add_news_email
	.col.f_left
		width 50%
	.col.f_right
		width 45%
		box-sizing border-box

	.who_send
		input[type='number']
			width 50rem
			text-align center
			padding-right 2rem
			margin-top -5rem
	.test_send
		margin-top 80rem
		.title
			font-size fzn - 2rem
			margin 0 0 10rem
			color ctextlight
.add_news_dashboard
	.who_send
		height 173rem

.add_news_email
	textarea
		min-height 175rem
	.test_send
		margin-top 20rem

// статистика в админке
.admin_stat_columns
	display flex
	.stat_column
		width 100%
		max-width 400rem
		margin-right 20rem
		margin-bottom 0
		max-height calc(100vh - 170rem)
		overflow auto
		&:last-child
			margin-right 0
		&.stat_column_wide
			max-width 550rem
	.stat_all_task
		font-size fzn + 2rem
		color ctextlight
		.total
			font-weight fwm
			color ctext
	.subtitle
		color ctextlight
		margin 0 0 5rem
		font-size fzn - 2rem
	.stat_column_date_filter
		margin 0 0 25rem
.stat_list
	li
		padding 10rem 0
		border-bottom 1rem solid cbdlight
		&:last-child
			border-bottom none
		.name
			max-width calc(100% - 110rem)
			display inline-block
			overflow ellipsis
		.value
			float right
		.total
			font-weight bold
		.tag_time
			width 84rem
			display inline-block
			font-size fzn - 2rem
			margin-left 10rem

		.stat_list_link
			margin -10rem -20rem
			padding 0 20rem
			height 46rem
			line-height 46rem
			color ctext
			display block
			&:hover
				background cbghighlight
			&.active
				background clsub6

	&.sub_list
		font-size fzn - 2rem
		margin-left 20rem
		li
			padding 7rem 0

// отчет по тегам

.stat_column_tags
	min-width 370rem
	&.stat_column_wide
		min-width 450px
	.title
		.subtitle
			float right
			font-size fzn - 5rem
			margin 3rem 0 0
	.stat_list
		li
			.stat_list_link
				margin-right 0px
				padding-right 0
				position relative
				&.active
					&:after
						content ''
						position absolute
						top 0
						left 100%
						bottom 0
						border 23px solid transparent
						border-left 10px solid clsub6
						border-right-width 0
			.name
				max-width calc(100% - 160rem)







//------------------- время задачи -------------------
.task_side_time
	text-align center
	margin-bottom 30rem
	.task_side_time_text
		font-size 28rem
		font-weight fwl
		z-index 0
		position relative
		&:before
			font-size 26rem
			vertical-align -5rem
			margin-right 10rem
		&.paused
			color ctextdis
	.task_side_timer_text
		font-size 20rem
		font-weight fwl
		margin-top 5rem
		.title
			font-size fzn - 2rem
			display inline-block
			vertical-align middle
			margin-right 7rem

	.task_side_time_but
		width 32rem
		height 32rem
		border-radius 32rem
		line-height 32rem
		display inline-block
		vertical-align 5rem
		margin 0 5rem 0 0
		background cgrey09
		font-size fzn - 6px
		text-align center
		color ctext
		z-index 10
		position relative
		box-sizing border-box
		&:before
			margin 0
		&.icon-play
			// position absolute
			// left 50%
			// transform translateX(-50%)
			background-color rgba(clsub5,0.8)
			padding-left 2rem

.tast_timer_drop
	width 250rem
	.drop-content-inner
		max-height 600rem

	.timer_slider
		padding 15rem 15rem
		.slider-range-value
			text-align center
		#slider-range
			margin 10rem

	.form
		padding 15rem
		text-align center
		input
			width 100%
		.button
			margin-top 20rem
//------------------- инфо клиента в слое задачи -------------------
.task_side_client
	font-size fzn - 2rem
	text-align center
	background #fff
	padding 15rem
	margin-bottom 40rem
	box-shadow 0rem 2rem 4rem -2rem rgba(0,0,0,0.3)
	.avatar
		width 50rem
		height 50rem
		font-size @width*0.5
		margin 0 0 10rem
	.name
		font-size fzn
		margin 0 0 5rem
		.ms-choice
			margin 0 auto
		.ms-drop
			text-align left
			max-width calc(100% + 20rem)
	.desc
		// margin-left 50rem
	.company
		color ctextlight
		margin 0 0 20rem
		font-size fzn - 5rem
	.status
		position absolute
		top 10rem
		right 10rem
		[class*='info_label']
			font-size fzn - 6rem
		.last_enter
			font-size fzn - 6rem
			display block
			text-align center
			color ctextlight
	.info_label_error
		margin-bottom 2rem

	.portal_id
		display block
		text-align center
		color ctextlight
		margin 20rem -20rem 0
		font-size fzn - 6rem

	.account_blocked
		color cerror
		font-size fzn - 4rem
		margin-top 7rem
		display inline-block


// страница компании - остатки
.admin_company_balance
	margin 0 0 10rem
	.value
		margin-left 20rem
		display inline-block
		font-size 20rem
		font-weight fwl
		&.rur
			color cRUR
		&.usd
			color cUSD
		&.eur
			color cEUR
		&.cny
			color cCNY
.admin_company_card
	border-top 1rem solid cbdlight
	padding-top 10rem
	.value
		margin-left 5rem
		display inline-block
		font-size fzn
		background cbglight
		border-radius 5rem
		padding 4rem 6rem 5rem


// форма синхронизации клиента с абс
.sync_abs_form
	margin 30rem 0 0
	overflow hidden
	.form
		float left
		width 32%
		margin-right 50rem
	.check_list
		float left
		width calc(67% - 50rem)
		.item
			padding 8rem 10rem 8rem 15rem
			font-size fzn - 4rem
			background cbglight
			margin 0 0 3rem
			border-radius 7rem
			&.success
				color ctextsuccess
				font-weight fwm
				font-size fzn - 2rem
				background none

		.text
			display inline-block
			width 80%
			vertical-align top
		.status
			display inline-block
			width 18%
			text-align center
			vertical-align top
			font-weight fwm
		.wait
			color ctextdanger
		.success
			color ctextsuccess

// список клиентов в crm (попап) admin/popup_client_info_crm.html
.client_info_crm_list
	counter-reset my-badass-counter
	.item
		padding-left  36rem
		&:before
			content counter(my-badass-counter)
			counter-increment my-badass-counter
			position absolute
			top 2rem
			left 0
			width 24rem
			height 24rem
			border-radius 50rem
			background cl2
			color #fff
			font-size fzn - 5rem
			font-weight fwb
			line-height 24rem
			text-align center
// показать в crm
.show_crm
	position absolute
	top 15rem
	right 15rem


// метки в админке
.tags_settings
	.add_tag
		margin 0 0 20rem
		input[type='text']
			width 200rem
	.tags_settings_list
		li
			margin 0 0 4rem
		.tag_item
			background #aaa
			font-size fzn - 2rem
			font-weight fwm
			text-align center
			border-radius 50rem
			display inline-block
			color #fff
			line-height 34rem
			padding 0 12rem 0 15rem
			margin 0 7rem 0 0
			height 34rem
			span
				cursor pointer
		.tag_delete
			color #fff
			margin-left 7rem
			opacity .7
			font-size fzn
			line-height 1
			vertical-align -1rem
			&:before
				margin 0
			&:hover
				opacity 1
		.tag_item_edit
			input[type='text']
				width 200rem
			.button_clean
				margin-left 10rem
.tag_colors
	padding 0
	max-width 290rem
	.tag_color_item
		display inline-block
		width 40rem
		height 16rem
		margin 0 10rem 7rem 0
		vertical-align top
		line-height 14rem
		&:nth-child(6n)
			margin-right 0
		span
			display block
			width 40rem
			height 16rem
			text-align center
			opacity .8
			transition opacity .2s
			position relative
			&:hover
				opacity 1
			&:before
				color #fff
				margin 0
				line-height 1
				font-size fzn - 2rem
			&.icon-close
				line-height 10rem
				&:before
					font-size fzn - 6rem
			&.selected
				opacity 1
				transform scale(1)
				box-shadow 0 0 0 2rem #fff, 0 0 0 3rem ctext

			&.not_select
				background-color transparent!important
				cursor default
				opacity 1
				&:before
					color ctext
			&.chosed

				&:after
					content ''
					width 3rem
					height 3rem
					border-radius 10rem
					background #fff
					position absolute
					top 6rem
					right 3rem

.page_header
	// номер задача
	.page_number
		position absolute
		right 48rem
		top 31rem
		font-size fzn
		color ctextlight

	// кнопка Наблюдаю
	.task_favorite_but
		position absolute
		right 16rem
		top 27rem
		font-size fzn + 8rem
		a:before
			margin 0
			color ctextlight

// добавление меток
.page_edit_tag
	position absolute
	right 10rem
	top 15rem
	.drop-target
		display inline-block
		width 20rem
		height 20rem
		background url(../images/icon_tags_color.png) no-repeat 0 0
		background-size 20rem
		text-decoration none

.tags_drop_list, .tags_inline_list
	padding 15rem
	li
		margin 0 5rem 5rem 0
	.tag_item
		background #aaa
		font-size fzn - 4rem
		font-weight fwm
		text-align center
		border-radius 50rem
		color #fff
		padding 0
	.input_check:checked ~ .label_check
		background transparent
		span
			color #fff
			background-color transparent
			border-color transparent
	.label_check
		display block
		width 100%
		padding 1rem
		box-sizing border-box
		background rgba(#fff,0.6)
		span
			color ctext
			display block
			background rgba(#fff,1)
			padding 0 10rem
			height 26rem
			line-height 26rem
			// border 1rem solid cbd
			transition .2s background, .2s color
			border-radius 50rem
.tags_inline_list
	padding 0
	li
		display inline-block
	.label_check
		span
			height 20rem
			line-height 20rem
			padding 0 7rem
			font-size fzn - 5rem
.page_tags_list
	display block
	padding 0
	margin 0rem 0rem 20rem
	text-align center
	&:empty
		margin 0
	li
		display inline-block
		margin 0 2rem 5rem
	.tag_item
		background #aaa
		font-size fzn - 5rem
		font-weight fwm
		text-align center
		border-radius 50rem
		display inline-block
		color #fff
		line-height 22rem
		padding 0 5rem 0 8rem
		margin 0 0rem 0 0
		height 22rem

	.tag_delete
		color #fff
		margin-left 4rem
		opacity .7
		font-size fzn - 2rem
		line-height 1
		vertical-align -1rem
		&:before
			margin 0
		&:hover
			opacity 1

.table_cell_tags_list
	width 100%
	margin-top 4rem
	li
		display block
		margin 0 0 2rem
		padding 0
		line-height 0
	.tag_item
		background #aaa
		font-size fzn - 7rem
		font-weight fwm
		text-align center
		border-radius 50rem
		display inline-block
		color #fff
		line-height 14rem
		padding 0 4rem
		margin 0
		height 14rem
		max-width 100%
		overflow hidden
		white-space nowrap
		text-overflow ellipsis
	.tag_overflow
		position absolute
		border-radius 0 20rem 20rem 0
		height 14rem
		width 14rem
		right 0
		top 0

		z-index 10

// список услуг прикрепляемых к метке html/admin/admin_settings_tags.html
.tag_service_list
	margin 15rem 0 0
	width 280rem
	.title
		font-size fzn - 4rem
		color ctextlight
		margin 0 0 10rem
	ul
		display flex
		flex-wrap wrap
		width 280rem
		justify-content space-between
	li
		font-size fzn - 2rem
		width 47%
		margin 0 0 7rem
		line-height 1.2


// статус клиента на слое клиента
.client_page_status
	margin 10rem 0 0

.client_blocked_money
	background cbgerror + 30%
	margin 20rem -15rem -15rem
	padding 10rem
	border-top 2rem solid cbgerror - 10%
	.title
		font-size fzn - 5rem
	.summ
		color cerror
		font-size fzn + 4rem
		font-weight fwn
		margin 5rem 0
	.link
		font-size fzn - 4rem

// блокировка на слое клиента
.page_client_blocked
	background cbgerror + 30%
	margin 0rem -30rem 0
	padding 20rem 30rem
	border-bottom 2rem solid cbgerror - 10%
.page_client_blocked_money
	.title
		font-size fzn
		display inline-block
	.summ
		color cerror
		font-size fzn + 6rem
		font-weight fwn
		margin 0 0 0 10rem
		display inline-block

	.link
		font-size fzn - 4rem
		display inline-block
		vertical-align middle
		margin 7rem 0 0
		float right
	& ~ .page_client_blocked_account
		margin-top 10rem

.page_client_blocked_account
	a
		color cerror
		font-size fzn - 2rem


// таблица с расширенными данными по задачам
.table_report_task_BA
	td
		max-width 300px
		word-break break-word



.side_filter
	margin 10rem 0


article.page
	min-width 1000rem

