@import 'nib'
@import 'variables.styl'


::-webkit-scrollbar
	height 12rem
	width 12rem
	background transparent
::-webkit-scrollbar-thumb
	border-radius 10rem
	cursor pointer
	width 12rem
	cursor pointer
	border 4rem solid rgba(255, 255, 255, 0)
	background-clip padding-box
	background-color rgba(cl1, 0.1)
	// box-shadow inset -1rem -1rem 0rem rgba(0, 0, 0, 0.03), inset 1rem 1rem 0rem rgba(0, 0, 0, 0.03)
	&:hover
		background-color rgba(cl1, 0.4)
		cursor pointer


*
	margin 0
	padding 0
	vertical-align baseline
	outline none
html
	font-size 1px

@media screen and (min-width:1600px) and (min-height:750px) {
    html {font-size: 1.105px;}
}
@media screen and (min-width:1900px) and (min-height:750px) {
    html {font-size: 1.2px;}
}


html, body
	position relative
	min-height 100%
	height 100%

body
	font-size fzn
	font-family ffn
	font-weight fwn
	color ctext
	line-height 1.3
	-webkit-font-smoothing: antialiased



div, article, aside, footer, header, nav, section, dialog, figure, hgroup, menu
	position relative

a
	color clink
	text-decoration underline
	cursor pointer
	transition color .1s ease
	&:hover
		color cl2
	&:active
		color cl1
		transition none
	&:focus
		outline -webkit-focus-ring-color auto 3rem

	&.link_dashed
		text-decoration none
		color clink
		&>span
			border-bottom 1rem dashed @color
		&:hover
			color cl2
			span
				border-bottom-color cl2
	&.link_disabled
		color ctextdis!important
		cursor default

	&[class*='icon-']
		&:before
			transition 0
		&:empty
			text-decoration none
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
			text-decoration none
	&[class*='icon-close']
		transition transform .15s
		&:before
			transition transform .15s
			margin 0
			min-width 0
		// &:hover
		// 	&:before
		// 		transform rotate(90deg)
		&:active
			&:before
				transform scale(.9)
				transition 0s
	&[class*='icon-favorites-solid']
		&:before
			color ctextwarning!important

	&[class*='icon-favorites']
		&:hover
			&:before
				color ctextwarning!important

	&.c_error
		&:hover
			color ctexterror + 10%

p
	line-height 1.5

ul
	list-style none
	&.circ
		margin 0 0 15rem
		li
			background url(../images/ul_circ.svg) no-repeat 0 7rem
			margin 0 0 10rem 7rem
			padding-left 20rem
	&.point
		margin 0 0 15rem
		li
			margin 0 0 5rem 7rem
			padding-left 15rem
			position relative
			&:before
				content '•'
				position absolute
				top 0rem
				left 0
				font-size fzn

b, strong
	font-weight fwm
i, em
	font-style italic
h1, h2, h3, h4
	font-weight fwm
h1
	font-size 26rem
	font-weight fwl
	margin 0 0 30rem
h2
	font-size 20rem
	margin 0 0 20rem
	font-weight fwn
h3
	font-size 18rem
	margin 0 0 20rem
	font-weight fwn



.hidden
	display none!important
.show
	display block!important
.no-margin
	margin 0!important
.no-padding
	padding 0!important
.no-bg
	background none!important
.no-border, a img
	border none!important
.clear
	clear both
	clearfix()
.f_left
	float left!important
.f_right
	float right!important
.a_center
	text-align center!important
.a_left
	text-align left!important
.a_right
	text-align right!important

.poss
	position static!important
.fzn
	font-size fzn!important

.ov_ell
	overflow ellipsis
	max-width 100%
	display block
.ov_h
	overflow hidden

.d_ib
	display inline-block
.d_b
	display block
.d_in
	display inline

.c_text
	color ctext!important
.c_primary
	color cl2!important
.c_success
	color ctextsuccess!important
.c_success_hue
	color cl3!important
.c_light
	color ctextlight!important
.c_error
	color ctexterror!important
.c_warning
	color ctextwarning!important
.c_danger
	color ctextdanger!important
.c_link
	color clink!important
.c_linklight
	color clinklight!important
.c_sky
	color cl4!important

.bg_success
	background-color cbgsuccess
.bg_error
	background-color cbgerror
.bg_warning
	background-color cbginfo

.f_xsmall
	font-size fzn - 4rem!important
.f_small
	font-size fzn - 2rem!important
.f_middle
	font-size fzn - 1rem!important
.f_normal
	font-size fzn!important
.f_big
	font-size fzn + 2rem!important
.f_xbig
	font-size fzn + 4rem!important

.fs_i
	font-style italic

.fw_n
	font-weight fwn
.fw_r
	font-weight fwr
.fw_l
	font-weight fwl
.fw_m
	font-weight fwm
.fw_b
	font-weight fwb

.max_w_600
	max-width 600rem



// денежный поток
// .cur
// 	display inline-block
.ruble, .rur
	// color cRUR

	span
		// width 0
		// color transparent
		// display inline-block
		// user-select none
		font-family 'Ruble'
		line-height 0


	// &:after
		// content 'Ҍ'
		// display inline-block
		// transform scale( 1, -1)
		// vertical-align -1rem

		// content: '–';
		// position: absolute;
		// bottom: 0%;
		// left: 0;
		// line-height .92
		// font-size smaller


.dollar, .usd
	// color cUSD
.euro, .eur
	// color cEUR
.yuan, .cny
	// color cCNY

.money_income
	color cl3 - 20%
	&:before
		content '+ '
.money_expense
	color ctexterror
	&:before
		content '– '
.money_income,.money_expense
	&.money_hold
		color ctext

.equalize_height
	display flex
	align-items stretch


// блоки
.info, .info_error, .info_success, .info_sms
	background cbginfo
	padding 15rem 20rem
	margin 15rem 0
	box-sizing border-box
	border-top 2rem solid #F6EBB4
	color ctext
	font-size fzn - 2rem
	line-height 1.4
	&:first-child
		margin-top 0
	h3
		margin-bottom 15rem
	p
		margin-bottom 10rem!important
		&:last-child
			margin-bottom 0!important
	ul,ol
		&:last-child
			margin-bottom 0


.info_error
	background-color cbgerror
	border-color cbgerror - 10%
	// color ctexterror

.info_success
	background-color cbgsuccess
	border-color cbgsuccess - 20%
	color ctext

.info_sms
	max-width 450rem
	font-size fzn - 2rem
	color ctext
	p
		margin-bottom 15rem!important
	.small_text
		margin 15rem 0
	.info_error
		margin-bottom -15rem
	input
		width 140rem
		padding-left 15rem!important
		letter-spacing 2px
		transition none!important
		vertical-align middle

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			line-height 0 //фикс для EDGE
		}
		&:focus
			border-color cbd - 10%!important
		&::-webkit-input-placeholder
			color ctextholder
			font-weight 300
			letter-spacing 0px
		&::-moz-placeholder
			color ctextholder
			font-weight 300
			letter-spacing 0px
		&:-ms-input-placeholder
			color ctextholder!important
			font-weight 300
			letter-spacing 0px

// смс подтверждение новое
.sms_confirm
	padding 25rem
	font-size fzn - 1rem
	// background cbginfo
	text-align center
	p
		font-weight fwl
		line-height 1.5!important
	p.small_text
		margin-bottom 0!important
		a
			font-size fzn - 2rem
	.sms_phone
		display block
		font-size 20rem
	.sms_cancel
		margin-top 5rem
		display inline-block
	.sms_field
		margin 0 0 20rem
		input[type="text"]
			letter-spacing 5px
			font-size 32rem
			font-weight fwl
			font-family Tahoma, 'Trubuchet MS'
			background-color cbgsky
			border-radius 5rem
			border 1rem solid transparent
			width 150rem
			padding 0 0 0 20rem
			height 55rem
			box-shadow none
			transition color .05s, width .2s, height .2s, border-radius .2s, background .2s, border .2s

			&::-webkit-input-placeholder
				color rgba(0,0,0,0.1)
				font-weight fwl
				letter-spacing 5px
			&::-moz-placeholder
				color rgba(0,0,0,0.1)
				font-weight fwl
				letter-spacing 5px
			&:-ms-input-placeholder
				color rgba(0,0,0,0.1)!important
				font-weight fwl
				letter-spacing 5px
			&.error
				animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
				transform: translate3d(0, 0, 0);
				backface-visibility: hidden;
				perspective 1000rem
				color ctexterror
				background-color #fbebee


				&::-webkit-input-placeholder
					color rgba(255,0,0,0.2)

				&::-moz-placeholder
					color rgba(255,0,0,0.2)

				&:-ms-input-placeholder
					color rgba(255,0,0,0.2)!important
			&.success
				background-color clsub6
				color ctextsuccess
			&.loader
				width 55rem
				height 55rem
				color transparent
				background transparent
				border-radius 50rem
				border-bottom 5rem solid cl2
				border-top 5rem solid cl3
				border-left 5rem solid cl1
				border-right 5rem solid cl4
				animation rotatingSms 1s .2s linear infinite;

	.form_buttons
		margin 25rem 0 20rem

	.captcha
		padding 0
		border none
		text-align center
		.captcha_left
			float none
			display inline-block

.popup_layer .sms_confirm
	margin-right -40rem
	margin-left -40rem
	margin-bottom -35rem


.info_icon_error,
.info_icon_success,
.info_icon_load,
.info_icon_warning
	padding-left 70rem
	background-image url("../images/account_widget_status_error.svg")
	background-repeat no-repeat
	background-position 20rem 9rem
	min-height 55rem
.info_icon_success
	background-image url("../images/account_widget_status_success.svg")
.info_icon_load
	background-image url("../images/account_widget_status.svg")
.info_icon_warning
	background-image url("../images/icon-warning.svg")

.found_company
	background-image url(../images/icon_found_company.svg)
	background-repeat no-repeat
	background-position 22rem 15rem
	padding-left 100rem
	padding-bottom 25rem
	h3
		font-size fzn + 1rem
		font-weight fwm
		margin 0 0 12rem
	p
		margin 0
		font-size fzn - 2rem




.info_label,
.info_label_success,
.info_label_error,
.info_label_danger,
.info_label_primary,
.info_label_grey
	background #FAF3BF
	padding 1rem 6rem
	box-sizing border-box
	color cgrey50
	font-size fzn - 6rem
	font-weight fwm
	display inline-block
	vertical-align middle
	border-radius 9rem
	&.big
		font-size fzn
		padding 4rem 10rem
	&.small
		font-size fzn - 7rem
		padding 2rem 5rem
		font-weight fwm

.info_label_success
	background-color clsub6
	color #559204
	border none

.info_label_danger
	background-color ctextdanger
	border-color ctextdanger
	font-weight normal
	color #fff

.info_label_error
	background-color cbgerror
	color cerror
	border none
	a
		color #fff
		text-decoration underline!important
.info_label_primary
	background-color #DFEFF7
	color cl2
.info_label_grey
	background #F2F2F2
	color cgrey50





.info_bot_text
	font-size fzn - 2rem
	color ctextlight
	border-top 1rem solid cbdlight
	padding-top 20rem
	margin-top 30rem

.text_block
	p
		line-height 150%
		margin 0 0 15rem
	.form
		margin 0 0 15rem

.light_text
	color ctextlight
.error_text
	color ctexterror
.warning_text
	color ctextwarning
.success_text
	color cl3 - 30%

.small_text
	font-size fzn - 4rem
	color ctextlight
	p
		margin 0 0 10rem
	&.border
		border-top 1rem solid cbdlight
		padding-top 20rem
		margin-top 30rem

// загрузка
.loading
	margin 50rem auto
	display block
	text-align center
	div
		display inline-block
		background url(../images/loading.gif) no-repeat center 0
		background-size 24rem 24rem
		padding 40rem 0 0
		min-height 24rem
		min-width 24rem
		max-width 350rem
		font-size fzn - 2rem
		color ctext
		box-sizing border-box
		line-height 1.5
		.title
			font-size fzn
			margin 0 0 10rem
			display block
	&.info
		margin 0 0 15rem
		div
			max-width 1000rem
			color ctext
	&.full
		div
			max-width 100%


.loading_block
	position relative
	&[data-loading-text]
		&:after
			background-position center calc(50% - 12rem)
	&:before
		content ' 'attr(data-loading-text)' '
		position absolute
		top 50%
		left 50%
		text-align center
		z-index 101
		transform translate(-50%, 10rem)
		font-size fzn - 2rem
		color ctext
		text-shadow 0 0 7rem #fff, 0 0 7rem #fff, 0 0 7rem #fff, 0 0 7rem #fff
		width 80%

	&:after
		transition background-color .5s ease
		content ''
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background-color rgba(#fff,0.6)
		background-image url(../images/loading.gif)
		background-repeat no-repeat
		background-position center
		background-size 24rem 24rem
		z-index 100

.loading_block_clean
	overflow hidden!important
	background-color transparent
	background-image url(../images/loading.gif)
	background-repeat no-repeat
	background-position center
	background-size 24rem 24rem
	max-height 200rem
	& *
		opacity 0


.disable_block
	position relative
	> *
		opacity .4

	&:after
		content ''
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		z-index 10




// иконки файлов
.file
	display inline-block
	text-decoration underline!important

.file_icon
	width 32rem
	height 43rem
	display inline-block
	vertical-align middle
	background-size 32rem 43rem
	background-repeat no-repeat
	background-position 0 0
	background-image url(../images/icon_file_other.svg)
	&.pdf
		background-image url(../images/icon_file_pdf.svg)
	&.doc, &.docx, &.docm, &.DOC, &.DOCX, &.DOCM
		background-image url(../images/icon_file_doc.svg)
	&.ppt, &.pptx, &.pptm, &.PPT, &.PPTX, &.PPTM
		background-image url(../images/icon_file_ppt.svg)
	&.xls, &.xlsx, &.xlsm, &.XLS, &.XLSX, &.XLSM
		background-image url(../images/icon_file_xls.svg)
	&.txt, &.rtf, &.pages, &.TXT, &.RTF, &.PAGES
		background-image url(../images/icon_file_txt.svg)
	&.numbers, &.csv, &.NUMBERS, &.CSV
		background-image url(../images/icon_file_table.svg)
	&.jpg, &.jpeg, &.png, &.gif, &.bmp, &.JPG, &.JPEG, &.PNG, &.GIF, &.BMP
		background-image url(../images/icon_file_img.svg)
	&.psd
		background-image url(../images/icon_file_psd.svg)
	&.ai
		background-image url(../images/icon_file_ai.svg)
	&.eps, &.svg, &.sketch
		background-image url(../images/icon_file_vector.svg)
	&.mp3, &.aac, &.mp4, &.m4a, &.mp2, &.asx, &.wma, &.ogg, &.wav, &.flac
		background-image url(../images/icon_file_audio.svg)
	&.avi, &.mkv, &.mov, &.wma, &.mp4, &.flv
		background-image url(../images/icon_file_video.svg)
	&.html, &.htm, &.HTML, &.HTM
		background-image url(../images/icon_file_html.svg)
	&.css
		background-image url(../images/icon_file_css.svg)
	&.xml, &.XML, &.js, &.less, &.stylus, &.mysql, &.tpl, &.php
		background-image url(../images/icon_file_code.svg)


// -------------- dropdown ---------------
[dropdown]
	display inline-block

.dropdown_menu, .dropdown_block
	display none
	position absolute
	z-index 1000
	top 100%
	left 0
	background #fff
	box-shadow 0 5rem 25rem rgba(0,0,0,0.1)
.dropdown_block
	padding 10rem
.dropdown_menu
	a
		white-space nowrap
		display inline-block
		padding 5rem

.open>.dropdown_menu,
.opan>.dropdown_block
	display block
	padding 15rem



// ------------  tooltip -----------------

.tooltip
	position absolute
	z-index 2700
	display block
	visibility visible
	font-weight normal
	opacity 0
	background #35414C
	border-radius 3rem
	// border 1rem solid cbd
	// box-shadow 0rem 2rem 5rem 0rem rgba(0,0,0,0.11)
	color #fff
	margin-right -1000rem
	margin-bottom -1000rem

	&:after
		border solid transparent
		content " "
		height 0
		width 0
		position absolute
		pointer-events none
	&:after
		border-color rgba(255, 255, 255, 0)
		border-width 6rem
	// &:before
	// 	border-color rgba(208, 211, 215, 0)
	// 	border-width 7rem

	&.error
		background rgba(cerror, 1)
		// .tooltip-inner
		// 	color ctexterror
		&.top:after
			border-top-color rgba(cerror, 1)
		&.bottom:after
			border-bottom-color rgba(cerror, 1)
		&.right:after
			border-right-color rgba(cerror, 1)
		&.left:after
			border-left-color rgba(cerror, 1)

	&.in
		opacity 1
	&.fade
		animation-name fadeIn
		animation-duration .2s
	&.top
		margin-top -7rem
		&:after, &:before
			top 100%
			left 50%
		&:after
			border-top-color #35414C
			margin-left -6rem
		&:before
			border-top-color #D0D3D7
			margin-left -7rem

	&.right
		margin-left 10rem
		&:after, &:before
			right 100%
			top 50%
		&:after
			border-right-color #35414C
			margin-top -6rem
		&:before
			border-right-color #D0D3D7
			margin-top -7rem

	&.bottom
		margin-top 7rem
		&:after, &:before
			bottom 100%
			left 50%
		&:after
			border-bottom-color #35414C
			margin-left -6rem
		&:before
			border-bottom-color #D0D3D7
			margin-left -7rem
	&.left
		margin-left -10rem
		&:after, &:before
			left 100%
			top 50%
		&:after
			border-left-color #35414C
			margin-top -6rem
		&:before
			border-left-color #D0D3D7
			margin-top -7rem


.tooltip-inner
	padding 5rem 6rem 5rem
	color ctextlight
	color #fff
	font-family ffn
	font-weight 400
	font-size fzn - 4rem
	text-decoration none
	box-sizing border-box
	width auto
	max-width 270rem
	line-height 1.3
	text-align center


.tooltip-arrow
	display none
	position absolute
	width 0
	height 0
	border-color transparent
	border-style solid




// ------------  grid -----------------
.row
	clearfix()

.row_table
	overflow hidden
	.column, .columns, .col
		margin-bottom -1000rem
		padding-bottom 1000rem

.col,
.column,
.columns
	width 100%
	float left
	box-sizing border-box
	margin-left 3%
.col:first-child,
.column:first-child,
.columns:first-child
	margin-left 0
.col,
.column,
.columns
	&.auto
		width auto
	&.one
		width 5.58333333333%
	&.two
		width 14.1666666667%
	&.three
		width 22.75%
	&.four
		width 31.3333333333%
	&.five
		width 39.9166666667%
	&.six
		width 48.5%
	&.seven
		width 57.0833333333%
	&.eight
		width 65.6666666667%
	&.nine
		width 74.25%
	&.ten
		width 82.8333333333%
	&.eleven
		width 91.4166666667%
	&.twelve, &.full
		width 100%
		margin-left 0
		float none
	&.one-third
		width 30.6666666667%
	&.two-thirds
		width 65.3333333333%
	&.half
		width 48.5%

.offset-by-one.column,
.offset-by-one.columns,
.offset-by-one.col
	margin-left 11.58333333333%
.offset-by-two.column,
.offset-by-two.columns,
.offset-by-two.col
	margin-left 20.1666666667%
.offset-by-three.column,
.offset-by-three.columns,
.offset-by-three.col
	margin-left 28.75%
.offset-by-four.column,
.offset-by-four.columns,
.offset-by-four.col
	margin-left 37.3333333333%
.offset-by-five.column,
.offset-by-five.columns,
.offset-by-five.col
	margin-left 46.9166666667%
.offset-by-six.column,
.offset-by-six.columns,
.offset-by-six.col
	margin-left 54.5%
.offset-by-seven.column,
.offset-by-seven.columns,
.offset-by-seven.col
	margin-left 63.0833333333%
.offset-by-eight.column,
.offset-by-eight.columns,
.offset-by-eight.col
	margin-left 71.6666666667%
.offset-by-nine.column,
.offset-by-nine.columns,
.offset-by-nine.col
	margin-left 80.25%
.offset-by-ten.column,
.offset-by-ten.columns,
.offset-by-ten.col
	margin-left 88.8333333333%
.offset-by-eleven.column,
.offset-by-eleven.columns,
.offset-by-eleven.col
	margin-left 94.4166666667%






// ------------ попап ------------------
.blur
	min-height 100%
	height 100%
	-webkit-filter blur(4rem)

.modal
	position absolute
	left 0
	top 0
	height 100%
	width 100%

.popup_overlay
	position absolute
	left 0
	top 0
	overflow auto
	height 100%
	width 100%
	background rgba(cl1,0.34)
	z-index 3000
	animation popupOverlayOpen .2s linear both
	-webkit-overflow-scrolling touch
.popup_table
	display table
	width 100%
	height 100%
.popup_cell
	display table-cell
	vertical-align middle
	padding 20rem 0
	text-align center
.popup_backdrop
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index 0
.popup_layer
	position relative
	width 720rem
	margin 0 auto
	padding 35rem 40rem
	background #fff
	box-shadow 6rem 6rem 0 rgba(cl1,0.2)
	// box-shadow 0rem 7rem 5rem 3rem rgba(0,0,0,0.1)
	// border 1rem solid rgba(0,0,0,0.1)
	box-sizing border-box
	z-index 10
	animation popupOpen .3s ease both
	text-align left
	&.small
		width 560rem
	&.w_auto
		width auto
		display inline-block


	&.clean
		background transparent!important
		box-shadow none!important

	.popup_close
		position absolute
		right 15rem
		top 15rem
		z-index 2000
		color ctextlight
		font-size 18rem
		text-decoration none
		&:hover
			color ctext

	h1
		margin 0 15rem 30rem 0
		position relative
		font-weight 300

	p
		line-height 140%
		margin 0 0 15rem
	ol, &>ul
		margin 15rem 0 15rem 20rem
		li
			margin 0 0 10rem
	ol
		ol
			margin-left 20rem
			font-size fzn - 2rem
.popup_panel
	margin-top 30rem

article.page
	.popup_overlay
		background rgba(#fff,.8)
	.popup_layer
		box-shadow 0 15rem 100rem rgba(#000,0.2)




.popup_mobile_download
	text-align center
	background #fff
	background-repeat no-repeat
	background-position center 110%
	background-size auto 50%
	padding-bottom 220rem
	&.ios
		background-image url(../images/mobile_ios.png)
	&.android
		background-image url(../images/mobile_android.png)
	.logo
		height 40rem
		background url(../images/logo.svg) no-repeat center 0
		background-size auto 100%
		margin 0 0 30rem

	@media screen and (min-width: 550px) and (max-height: 600px)
		background-position 90% bottom
		background-size auto 80%
		padding-bottom 40rem!important
		padding-right 45%!important
		min-height 0
	@media screen and (max-height: 500px) and (max-width: 550px)
		background-size auto 40%
	@media screen and (max-height: 320px) and (min-width: 470px) and (max-width: 490px)
		background-position 90% bottom
		background-size auto 60%
		padding-bottom 40rem!important
		padding-right 45%!important
		min-height 0


// загрузка аватара с обрезкой
.cropped_image
	overflow hidden
	width 480rem
	height 350rem
	display block
	margin 0 auto

	img-crop
		width 100%
		height 100%
		display block
		position relative
		overflow hidden

		canvas
			display block
			position absolute
			top 50%
			left 50%
			outline none
			-webkit-tap-highlight-color rgba(255, 255, 255, 0)
.upload_avatar_disabled
	cursor no-drop
	.avatar_edit, .avatar_delete
		display none

	img
		opacity .8


// --------- когда обновлено --------------
.system_info
	position absolute
	bottom 15rem
	left 10rem
	right 10rem
	font-size 12rem
	opacity 0.7

// ----------------- отступы margin ------------------
step = 5

for $i in (0..20)
	N = step*$i rem
	.m_{N}
		margin N !important
	.m_top_{N}
		margin-top N !important
	.m_left_{N}
		margin-left N !important
	.m_right_{N}
		margin-right N !important
	.m_bot_{N}
		margin-bottom N !important

	.p_{N}
		padding N !important
	.p_top_{N}
		padding-top N !important
	.p_left_{N}
		padding-left N !important
	.p_right_{N}
		padding-right N !important
	.p_bot_{N}
		padding-bottom N !important

.m_null
	margin 0
.p_null
	padding 0

// ----------------------------------------

.w5
	width 5% !important
.w15
	width 15% !important
.w25
	width 25% !important
.w35
	width 35% !important
.w45
	width 45% !important
.w55
	width 55% !important
.w65
	width 65% !important
.w75
	width 75% !important
.w85
	width 85% !important
.w95
	width 95% !important
.w10
	width 10% !important
.w20
	width 20% !important
.w30
	width 30% !important
.w40
	width 40% !important
.w50
	width 50% !important
.w60
	width 60% !important
.w70
	width 70% !important
.w80
	width 80% !important
.w90
	width 90% !important
.w100
	width 100% !important

.w5px
	width 5rem !important
.w15px
	width 15rem !important
.w25px
	width 25rem !important
.w35px
	width 35rem !important
.w45px
	width 45rem !important
.w55px
	width 55rem !important
.w65px
	width 65rem !important
.w75px
	width 75rem !important
.w85px
	width 85rem !important
.w95px
	width 95rem !important
.w10px
	width 10rem !important
.w20px
	width 20rem !important
.w30px
	width 30rem !important
.w40px
	width 40rem !important
.w50px
	width 50rem !important
.w60px
	width 60rem !important
.w70px
	width 70rem !important
.w80px
	width 80rem !important
.w90px
	width 90rem !important
.w100px
	width 100rem !important
.w150px
	width 150rem !important
.w200px
	width 200rem !important
.w250px
	width 250rem !important
.w300px
	width 300rem !important


// -------------- шаги визарда --------------------
.page_wizard
	margin -30rem -35rem 30rem
	background cbgsky
	padding 15rem 35rem
	.wizard_steps
		margin-bottom 0
		.label
			background cbgsky
.wizard_steps
	background none
	padding 4rem 0
	margin 0 0 30rem
	box-sizing border-box
	overflow hidden

	&:before
		content ''
		height 2rem
		position absolute
		top 20rem
		background #B3BDCA

	&.steps3
		&:before
			left 16.5%
			right 16.5%
	&.steps4
		&:before
			left 12.5%
			right 12.5%
	&.steps5
		&:before
			left 10%
			right 10%

	.step
		float left
		text-align center
		&:nth-last-child(3):first-child~div, &:nth-last-child(3):first-child
			width 33.3333%
		&:nth-last-child(4):first-child~div, &:nth-last-child(4):first-child
			width 25%
		&:nth-last-child(5):first-child~div, &:nth-last-child(5):first-child
			width 20%

	.name, .label
		color #B3BDCA
	.name
		font-size fzn - 3rem
		font-weight normal
		display block
	.label
		width 30rem
		height 30rem
		margin 0 0 8rem
		display inline-block
		background #fff
		border-radius 50%
		border 2rem solid #b3bdca
		line-height 29rem
		font-weight normal


	.active, .done
		.label
			background cl3
			color #fff
			border 6rem double #fff
			margin-top -4rem
			margin-bottom 4rem
			@media screen and (min-width:1600px) and (min-height:750px)
				margin-top -3rem
			&:after
				content ''
				position absolute
				left calc(100%+2rem)
				top 7rem
				width 10rem
				height 15rem
				background url(../images/wizard_step_arrow.svg) no-repeat 0 0
			&:before
				content ''
				position absolute
				right calc(100%+2rem)
				top 7rem
				width 10rem
				height 15rem
				background url(../images/wizard_step_arrow.svg) no-repeat 0 0
				transform scaleX(-1)
		.name
			color cl3
	.done
		.label
			color transparent
			background-image url(../images/check_w.svg)
			background-position center
			background-repeat no-repeat
		.name
			color #B3BDCA


	.step
		&:first-child
			.label
				&:before
					display none
		&:last-child
			.label
				&:after
					display none
	&.steps4
		&.active1
			&:before
				background linear-gradient(left, cl3 0%, #B3BDCA 25%)
		&.active2
			&:before
				background linear-gradient(left, cl3 33%, #B3BDCA 55%)
		&.active3
			&:before
				background linear-gradient(left, cl3 66%, #B3BDCA 90%)
		&.active4
			&:before
				background cl3
	&.steps3
		&.active1
			&:before
				background linear-gradient(left, cl3 0%, #B3BDCA 45%)
		&.active2
			&:before
				background linear-gradient(left, cl3 50%, #B3BDCA 90%)
		&.active3
			&:before
				background cl3

	&.steps5
		&.active1
			&:before
				background linear-gradient(left, cl3 0%, #B3BDCA 20%)
		&.active2
			&:before
				background linear-gradient(left, cl3 25%, #B3BDCA 45%)
		&.active3
			&:before
				background linear-gradient(left, cl3 50%, #B3BDCA 70%)
		&.active4
			&:before
				background linear-gradient(left, cl3 75%, #B3BDCA 90%)
		&.active5
			&:before
				background cl3

	&.vertical
		display inline-block
		overflow visible
		margin 0
		padding 0
		&:before
			height auto
			width 2rem
			left calc(50% - 1rem)
			right auto
			top 10rem
			bottom 20rem
		.step
			float none
			margin 0
			padding 0 0 30rem
			width auto!important
			&:last-child
				padding-bottom 0
			.label
				margin 0

		.active, .done
			.label
				background-color cl3
				margin 0
				&:after
					content ''
					position absolute
					transform rotate(90deg)
					left calc(50% - 5rem)
					top calc(100% - 3rem)
					width 9rem
					height 17rem
					background url(../images/wizard_step_arrow.svg) no-repeat 0 0
				&:before
					content ''
					position absolute
					left calc(50% - 4rem)
					right auto
					bottom calc(100% - 2rem)
					top auto
					width 9rem
					height 17rem
					background url(../images/wizard_step_arrow.svg) no-repeat 0 0
					transform rotate(-90deg)

	&.light
		&:before
			background #fff!important
			display none
		.step
			&:after
				content ""
				display block
				width 2rem
				position absolute
				left calc(50% - 1rem)
				top 34rem
				bottom 0
				background #fff
		.label
			background-color transparent
			border-color #fff
			color #fff
		.active, .done
			&:after
				top 38rem
			.label
				background-color #fff
				border 6rem double cl2
				&:after, &:before
					background url(../images/wizard_step_arrow_white.svg) no-repeat 0 0
				&:after
					top calc(100% - 2rem)
		.active
			.label
				color cl2
				font-weight fwm
		.done
			.label
				color transparent
				background-image url(../images/check_b.svg)
// иконки
[class*='icon-']
	&:before
		display inline-block
		// min-width 16rem
		vertical-align -2rem
		margin-right 5rem
	&.icon-light
		&:before
			color ctextlight
	&.icon-primary
		&:before
			color cl2
	&.icon-success
		&:before
			color ctextsuccess




a.icon-info
	cursor pointer
	opacity 0.7
	&:hover
		opacity 1

// [class*='icon-'].notext
// 	display inline-block
// 	vertical-align middle
// 	opacity 1
// 	transition .2s
// 	position relative
// 	width 20rem
// 	height 20rem
// 	font-size 16rem
// 	z-index 1
// 	&:before
// 		margin 0
// 	&:after
// 		content ''
// 		width 24rem
// 		height 24rem
// 		position absolute
// 		left -2rem
// 		top -1rem
// 		border-radius 20rem
// 		background transparent
// 		transition .2s
// 		z-index -1
// 	&:hover
// 		&:after
// 			background cbglight
// 	&:active
// 		&:after
// 			background cbglight - 10%


// -------------- стили для печати ------------------

.printable
	display none
	div
		position relative!important
		padding 0!important
		height auto
		background none
		top auto
		left auto
		bottom auto
	h1
		margin 0 0 20rem!important
		font-size 24rem
		border none
	.header_action, .page_close, .page_expand
		display none
	p
		margin 0 0 10rem
	ul
		list-style circle
	.page_header
		box-shadow none
	.account_details_actions
		display none
	.legend
		border-bottom none
		text-transform none
		font-size 24rem
		span
			border-bottom none
	.ms-choice
		border none
		box-shadow none
		padding 0
		height auto
		font-weight normal !important
	.form_horizontal .property_label
		padding-top 0
	.print_hide
		display none!important
	.ms-drop
		display none!important
	.ms-choice > span
		white-space wrap

@media print
	html
		background none!important
	body
		padding 30rem!important
		background #fff!important
		height auto!important
		width auto!important
		min-height 1rem!important
		min-width 1rem!important
		font-family Arial!important
		font-weight normal !important
	.printable
		display block
	aside, header, section, article, .notifyjs-corner, .drop, .tooltip, .messenger, .button_chat
		display none



// ------------- нотификации ------------------
.notifyjs-corner
	z-index 2100!important
	.inner
		padding 12rem 15rem
		color #fff
		background rgba(cl1,.9)!important
		border-radius brbut
		font-weight normal
		width 360rem
		.title
			font-weight fwm
			font-size fzn + 2rem
			margin 0 0 5rem
			&:empty
				display none
		.message
			font-size fzn - 1rem

	.notifyjs-textNotification-error
		.inner
			background rgba(cerror - 10%,.9)!important
		a
			color #fff
	.notifyjs-textNotification-success
		.inner
			background rgba(cl3 - 10%,.9)!important
		a
			color #fff

	.notifyjs-textNotification-info
		.inner
			background rgba(cbginfo,.9)!important
			color ctext
		a
			color cl2


// ------------- табы -------------
.tabs
	margin 0 -30rem


	&.tabs_horizontal
		&>.tabs_menu
			// border-bottom 1rem solid cbdlightsky
			box-shadow inset 0 -2rem 0 -1rem cbdlightsky
			padding 0 30rem
			white-space nowrap
			clearfix()
			& > ul li
				background-color cbgsky + 10%
				display inline-block
				border-top 2rem solid transparent
				border-bottom 1rem solid transparent
				border-right 1rem solid transparent
				border-left 1rem solid transparent
				box-sizing border-box
				background-clip content-box
				margin-right 2rem
				&:hover
					a
						color ctext
				&> a
					display block
					padding 10rem 25rem
					color ctextlight
					text-decoration none
					text-align center
					position relative
				&.active
					background #fff
					border-top 2rem solid cl3
					border-left-color cbdlightsky
					border-right-color cbdlightsky
					border-bottom-color #fff
					a
						color ctext
						cursor default
				.new_label
					position absolute
					right 5rem
					top -6rem
					font-size 7rem
					font-weight fwm
					border-radius 10rem
					padding 2rem 4rem
					background ctextdanger
					color #fff
			&.tabs_scroll
				padding 0
				.owl-stage-outer
					padding 0 30rem
				.owl-prev, .owl-next
					top 13rem
					&:before
						font-size 16rem
						border-radius 50%
						box-shadow 0 0 0 5rem #fff
			&.tabs_narrow
				& > ul li
					&> a
						padding 10rem 20rem

		&> .tabs_content
			padding 30rem



	&.tabs_vertical
		padding 0
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		margin 0
		& > .tabs_menu
			min-height 100%
			width 200rem
			float left
			background cbgsky
			box-shadow inset -4rem 0 0 -2rem cseparator
			padding 30rem 0 60rem
			box-sizing border-box
			font-size fzn - 1rem

			& > ul li
				margin-bottom 1rem
				position relative

				&.title
					padding 0 5rem 10rem 25rem
					font-size fzn - 5rem
					text-transform uppercase
					font-weight fwm
					color cl2
					&~ .title
						padding-top 25rem

				& > a
					display block
					padding 12rem 5rem 13rem 25rem
					color ctext
					line-height 110%
					text-decoration none
					// background cbglight
					transition none
					&:hover
						background rgba(cseparator,.3)
				&.active
					a
						background cseparator
						font-weight normal
						&:after
							left 100%
							top 0
							border solid transparent
							content " "
							height 0
							width 0
							position absolute
							pointer-events none
							border-color rgba(cseparator, 0)
							border-left-color cseparator
							border-width 20rem
							border-left-width 8rem


		& > .tabs_content
			margin 0 0 0 200rem
			padding 30rem
			overflow auto
			height 100%
			max-height 100%
			box-sizing border-box
			-webkit-overflow-scrolling touch

	&.tabs_widget
		margin 0 0 20rem
		&>.tabs_menu
			padding 0
			box-shadow none
			&>ul>li.active
				box-shadow 0rem 1rem 1rem 0rem rgba(0,0,0,0.12)
				border-left-color transparent
				border-right-color transparent
		.tabs_content
			background #fff
			box-shadow 0rem 1rem 1rem 0rem rgba(0,0,0,0.12)
			padding 20rem
			box-sizing border-box


// аватар
.avatar
	width 150rem
	height 150rem
	display inline-block
	vertical-align middle
	text-align center
	border-radius 50%
	color #fff
	font-size @width*0.5
	line-height 2.1
	font-weight bold
	border-radius 50%
	text-align center
	text-shadow 2rem 2rem 0 rgba(0,0,0,0.1)
	background-size cover
	background-repeat no-repeat
	background-position center
	img
		width 100%
		height 100%
		border-radius 50%
	&:hover
		.avatar_edit
			opacity 1
			transform scale(1)
			color #fff
		.avatar_delete
			opacity 1
	.avatar_edit
		opacity 0
		transform scale(.6)
		transition color .3s, opacity .3s, transform .3s
		position absolute
		background rgba(ctext,0.5)
		border-radius 100rem
		top 0
		bottom 0
		right 0
		left 0
		color #fff
		font-size fzn
		font-weight normal
		line-height 150rem
		text-decoration underline
		&:hover
			color #fff!important


	.avatar_delete
		position absolute
		right 0rem
		top 0rem
		opacity 0



// пишет сейчас - движущийся карандаш
.write_now
	height 16rem
	color ctextlight
	font-size fzn - 4rem
	transform translateZ(0)
	[class*='icon-']
		display inline-block
		font-size fzn - 2rem
		// animation-duration 1.5s
		// animation-name writeNow
		// animation-iteration-count infinite
		// animation-direction normal
		animation 1.5s writeNow infinite
		margin-right 10rem


// drop


.drop-content
	display none
.drop-element, .drop-element:after, .drop-element:before, .drop-element *, .drop-element *:after, .drop-element *:before
	box-sizing border-box

.drop-element
	position absolute
	display none
	z-index 2600

	&.drop-open
		display block

	&.drop-open-transitionend
		display block
		.drop-content
			// transform perspective(600rem) rotateX(-90deg)
			// transition opacity .3s, transform 1.5s
			opacity 0
			animation dropHide .3s
			// transform: translateY(7rem);
			// transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;

	&.drop-after-open.drop-open-transitionend
		.drop-content
			// transform perspective(600rem) rotateX(0deg)
			// transition opacity .3s, transform .25s
			opacity 1
			animation dropShow .3s
			// transform: translateY(0);

	&.drop-target-attached-top
		margin-top -10rem
		.drop-content
			transform-origin bottom
			// transform perspective(600rem) rotateX(90deg)
			transform: translateY(10rem);

	&.drop-theme-basic
		max-width 100%
		max-height 100%

	&.drop_wide
		.drop-menu
			max-width 70vw
			li
				a
					padding-right 30rem
	&.drop_tall
		.drop-content-inner
			max-height 70vh

	.drop-content
		display block
		background #fff
		background-clip padding-box
		padding 0
		box-shadow 0 5rem 20rem rgba(0,0,0,0.15), 0rem 0rem 1rem rgba(0,0,0,0.22)
		// transform-origin top
		padding-right 20rem
		// margin-top 5rem
		will-change transform

	.drop-content-inner
		width calc(100% + 20rem)
		max-height 280rem
		overflow auto
		box-sizing border-box
		div
			position static
		.loading
			width 150rem
	.inner_pad
		padding 15rem
	.inner_padding_15
		padding 15rem
	.inner_padding_30
		padding 30rem

	@media (-webkit-min-device-pixel-ratio:0)
		.drop-content
			padding-right 0
		.drop-content-inner
			width 100%
			overflow overlay
		.inner_pad
			margin-right 0


	.drop-menu
		margin 0
		max-width 280rem

		&.max_w_500
			max-width 500rem
		&.max_w_600
			max-width 600rem
		li
			display block
			cursor pointer
			box-sizing border-box
			border-bottom 1rem solid cbdlight

			&:last-child
				border-bottom none

			&.submenu
				a
					padding-left 25rem

			a, button
				color ctext
				text-decoration none
				display block
				padding 10rem 15rem 10rem 15rem
				// width calc(100% + 15rem)
				transition color .05s, background .05s
				&[class*="icon-"]:before
					margin-right 10rem
				&:hover
					background cbghighlight
				&.link_disabled
					background none
				&[disabled]
					cursor no-drop
					color ctextdis
			&.active
				a, button
					color cl2
			&.highlight
				a
					background cbghighlight

	.drop-title
		font-size fzn - 4rem
		font-weight fwm
		color ctextlight
		color cl2
		font-style italic
		margin 15rem 15rem 4rem
	.drop-sep
		display block
		height 1rem
		margin 30rem -15rem
		background cbdlight
	.small_text
		max-width 270rem



	.drop-date-choose
		padding 0 15rem 15rem
		.filter_date_value
			max-width none
		.filter_date_input
			width 98rem
			padding-right 0
		input.date_to
			float none
			margin-left 4rem

	.dashboard-period-choose
		max-height 300rem
		.drop-menu
			max-width 400rem
			li:last-child
				border-bottom 1rem solid cbdlight + 40%


.drop-input
	height 44rem
	border 1rem solid cbd
	border-radius brform
	display inline-block
	background-color #fff
	background-image url(../images/select_arrow.svg)
	background-repeat no-repeat
	background-position calc(100% - 15rem) center
	font-family ffn
	font-size fzn
	font-weight fwn
	padding 0 40rem 0 15rem
	color ctext
	box-shadow inset 0rem 2rem 2rem -2rem rgba(0,0,0,0.18)
	box-sizing border-box
	vertical-align middle
	transition color .2s
	text-decoration none
	line-height 44rem

	>span
		display block
		overflow ellipsis
		max-width 100%
	&.small
		height 34rem
		padding-left 10rem
		line-height 32rem
		font-size fzn - 2rem

	&:hover
		color ctext


	&.drop-enabled
		border-color cl2
	&.drop-disabled
		color ctextdis
		background #f5f5f5

	&.second
		border-color transparent
		box-shadow 0rem 2rem 4rem -2rem rgba(0,0,0,0.2)
		&:focus
			box-shadow 0 1rem 1rem rgba(cl1,0.3)
a.drop_input
	cursor pointer


// показать еще
.show_more
	padding 20rem 0 0

// клиент модульбанка
.m_client
	margin-left 5rem
	display inline-block
	width 12rem
	height 12rem
	background-image url(../images/logo_emblem.svg)
	background-repeat no-repeat
	background-size 100%
	&.light
		background-image url(../images/logo_emblem_w.svg)

// адаптивные классы

@media (max-width:900px)
	.hide_900a
		display none
@media (max-width:1000px)
	.hide_1000a
		display none
@media (max-width:1100px)
	.hide_1100a
		display none
@media (max-width:1200px)
	.hide_1200a
		display none
@media (max-width:1300px)
	.hide_1300a
		display none
@media (max-width:1400px)
	.hide_1400a
		display none
@media (max-width:1500px)
	.hide_1500a
		display none
@media (max-width:1600px)
	.hide_1600a
		display none
@media (max-width:1700px)
	.hide_1700a
		display none
@media (max-width:1800px)
	.hide_1800a
		display none
@media (max-width:1900px)
	.hide_1900a
		display none


@media (min-width:900px)
	.hide_900b
		display none
@media (min-width:1000px)
	.hide_1000b
		display none
@media (min-width:1100px)
	.hide_1100b
		display none
@media (min-width:1200px)
	.hide_1200b
		display none
@media (min-width:1300px)
	.hide_1300b
		display none
@media (min-width:1400px)
	.hide_1400b
		display none
@media (min-width:1500px)
	.hide_1500b
		display none
@media (min-width:1600px)
	.hide_1600b
		display none
@media (min-width:1700px)
	.hide_1700b
		display none
@media (min-width:1800px)
	.hide_1800b
		display none
@media (min-width:1900px)
	.hide_1900b
		display none



// скрытие блоков
.block_hide
	animation blockHide 3s ease both


// если нету контента
.empty_block
	width 100%
	height 80%
	min-height 150rem
	max-height 70vw
	display flex
	justify-content center
	align-items center
	&>div
		max-width 400rem
		text-align center
		color ctextlight
	p
		margin 0 0 15rem


// анимированный фон
.back_anim
	position absolute
	top 0
	bottom 0
	right 0
	left 0
	overflow hidden
	z-index 0
	display none
	[class*="cub"]
		position absolute
	.cub1
		height 400rem
		width 16vw
		min-width 240rem
		background url(../images/cub1.png) no-repeat 0 0
		background-size 100% auto
		bottom 40rem
		left 12%
		animation cub1 30s linear 2
	.cub2
		height 400rem
		width 16vw
		margin 240rem
		background url(../images/cub2.png) no-repeat 0 0
		background-size 100% auto
		top -100rem
		right -100rem
		animation cub2 20s linear 3
	.cub3
		height 143rem
		width 143rem
		background url(../images/cub3.png) no-repeat 0 0
		top 150rem
		left 15%
		animation cub3 30s linear 2
	.cub4
		height 131rem
		width 131rem
		background url(../images/cub4.png) no-repeat 0 0
		bottom 10%
		right 21%
		animation cub4 40s linear 2
	.cub5
		height 67rem
		width 67rem
		background url(../images/cub5.png) no-repeat 0 0
		top 95rem
		right 290rem
		animation cub5 30s linear 2
	.cub6
		height 58rem
		width 58rem
		background url(../images/cub6.png) no-repeat 0 0
		bottom 30%
		left 40%
		animation cub6 30s linear 2
	.cub7
		height 29rem
		width 29rem
		background url(../images/cub7.png) no-repeat 0 0
		top 100rem
		left 70rem
		animation cub7 30s linear 2
	.cub8
		height 33rem
		width 33rem
		background url(../images/cub8.png) no-repeat 0 0
		bottom 340rem
		right 460rem
		animation cub8 20s linear 3
	.cub9
		height 29rem
		width 29rem
		background url(../images/cub9.png) no-repeat 0 0
		top 150rem
		right 40%
		animation cub9 20s linear 3

@keyframes cub1 {
    from { transform: rotate(-180deg) translateX(150rem) rotate(360deg); }
    to   { transform: rotate(180deg) translateX(150rem) rotate(0deg); }
}
@keyframes cub2 {
    from { transform: rotate(0deg) translateX(50rem) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50rem) rotate(-360deg); }
}
@keyframes cub3 {
    from { transform: rotate(0deg) translateX(100rem) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(100rem) rotate(360deg); }
}
@keyframes cub4 {
    from { transform: rotate(180deg) translateX(200rem) rotate(0deg); }
    to   { transform: rotate(-180deg) translateX(200rem) rotate(360deg); }
}
@keyframes cub5 {
    from { transform: rotate(90deg) translateX(50rem) rotate(0deg); }
    to   { transform: rotate(450deg) translateX(50rem) rotate(-360deg); }
}
@keyframes cub6 {
    from { transform: rotate(180deg) translateX(50rem) rotate(0deg); }
    to   { transform: rotate(-180deg) translateX(50rem) rotate(360deg); }
}
@keyframes cub7 {
    from { transform: rotate(180deg) translateX(50rem) rotate(0deg); }
    to   { transform: rotate(-180deg) translateX(50rem) rotate(360deg); }
}
@keyframes cub8 {
    from { transform: rotate(90deg) translateX(50rem) rotate(0deg); }
    to   { transform: rotate(-270deg) translateX(50rem) rotate(360deg); }
}
@keyframes cub9 {
    from { transform: rotate(-180deg) translateX(50rem) rotate(0deg); }
    to   { transform: rotate(180deg) translateX(50rem) rotate(-360deg); }
}


// оформление таблиц
table
	width 100%
	padding 0
	margin 0
	border-collapse collapse
	background #fff

	th, td
		padding 5px
		border 1px solid cbdlight
	th
		text-align left
	&.even
		tr:nth-child(2n)
			td
				background #f9f9f9
	&.no_border
		td
			border none
			border-bottom 1rem solid cbdlight

	.row_title
		&:first-child
			td
				padding-top 5rem
		td
			text-align left
			font-weight fwb
			padding 12rem 5rem 5rem
			border-bottom 2rem solid cseparator
			color cl2

// текст подсказка
.text_placeholder
	text-align center
	padding 100rem 40rem
	font-style italic
	color ctextlight

// слайдер/ползунок/выбор времени
.noUi-base
	height 5rem
	border-radius 5rem
	background cgrey09
	.noUi-origin
		position relative!important
		display inline-block
	.noUi-handle
		height 20rem
		width 20rem
		border-radius 24rem
		background cl2
		background linear-gradient(45deg, clsub2, clsub4)
		transform translate(-50%,-30%)
		box-shadow 0 0 0 3px rgba(0,0,0,0.1)
		cursor pointer