
@import 'variables.styl'
button
	background none
	border none
	font-family ffn
	cursor pointer
	text-align left
	font-weight fwn
	&[disabled]
		color ctextdis
	&::-moz-focus-inner
		border 0
.button
	display inline-block
	font-size fzn
	font-family ffn
	font-weight fwm
	color #fff
	text-transform uppercase
	letter-spacing .6px
	background cl2
	// background-image linear-gradient(right, #37AFAA 0%, cl2 50%, cl2 100%)
	background-repeat no-repeat
	background-position center
	background-size 200% 100%
	text-align center
	height 50rem
	line-height 49rem
	border-radius brbut
	padding 0 40rem
	padding-bottom 3rem
	box-sizing border-box
	border none
	text-decoration none
	vertical-align middle
	cursor pointer

	transition background .5s, color .2s, box-shadow .2s
	z-index 1
	overflow hidden
	-webkit-appearance none
	appearance none

	&:hover
		background-color cl2 + 5%
		// background-position 70% 0
		box-shadow 0 2rem 2rem rgba(#000,0.1), 0 4rem 18rem -5rem rgba(#000,0.2)
		color #fff
		// box-shadow inset 0rem -2rem 0rem 0rem rgba(#000,0.2), inset 0rem -3rem 0rem 0rem rgba(#fff,0.1), 0 1rem 1rem rgba(#000,0.2)
		&:before
			// transform scale3d(1,1,1)
			opacity 1
	&:active
		opacity .9
		transition none

	&.second
		background-color cl3
		// background-image linear-gradient(right, #B4E30B 0%, cl3 50%, cl3 100%)
		&:hover
			background-color cl3 + 3%
		// &:active
		// 	background-color cl3 - 5%

	&.cancel
		background-color cerror
		&:hover
			background-color cerror + 10%
		// &:active
		// 	background-color cerror - 5%

	&.dark
		background-color cl1
		&:hover
			background-color cl1 + 5%
		// &:active
		// 	background-color cl1 - 5%

	&.clean
		background none!important
		box-shadow none!important
		text-shadow none!important
		color ctextlight
		text-decoration none
		font-weight fwn
		&:hover
			color ctext
		&.disabled, &[disabled]
			color ctextdis
			&:hover
				color ctextdis
	&.white
		background-color #fff
		color ctext
		box-shadow 0 1rem 1rem rgba(#000,0.1)
		&:hover
			color ctext + 30%

	&.light
		background-color transparent
		border 1px solid cgrey50
		box-shadow none
		color ctext
		text-shadow none!important
		font-weight fwm
		&:hover
			background-color transparent
			border-color ctext
		&[class*="icon-"]:before
			color ctext
		&.disabled, &[disabled]
			border-color #CFD4DB
			&:hover
				box-shadow none
	&.field
		background-color transparent
		border 1rem solid cbd
		box-shadow none
		color ctext
		text-shadow none!important
		font-weight fwm
		&:hover
			background-color cgrey03
		&[class*="icon-"]:before
			color ctext
		&.disabled, &[disabled]
			border-color #CFD4DB
			&:hover
				box-shadow none

	&.round
		border-radius 50rem
	// размеры
	&.xxsmall
		height 18rem
		line-height 17rem
		font-size fzn - 6rem
		padding-left 6rem
		padding-right 6rem
		letter-spacing 0

	&.xsmall
		height 26rem
		line-height 26rem
		font-size fzn - 5rem
		padding-left 10rem
		padding-right 10rem
		letter-spacing .3px

	&.small
		height 38rem
		line-height 37rem
		font-size fzn - 4rem
		padding-left 20rem
		padding-right 20rem
		letter-spacing .4px


	&.middle
		height 44rem
		line-height 42rem
		font-size fzn - 2rem
		padding-left 22rem
		padding-right 22rem
		letter-spacing .5px

	&.full
		width 100%
		text-align center
		padding 0

	&.wide
		padding 0 60rem

	&.disabled, &[disabled]
		background-color #CFD4DB
		cursor no-drop
		color #fff
		&:hover
			background-color #CFD4DB
			box-shadow none
			// box-shadow inset 0rem -2rem 0rem 0rem rgba(#000,0.2), inset 0rem -3rem 0rem 0rem rgba(#fff,0.1)
		// &:active
		// 	text-shadow 0 -1rem 0 rgba(#000,0.05)

	&+.button
		margin-left 5rem
	&+.button_clean
		margin-left 30rem

	&[class*='icon-']
		&:before
			vertical-align -4rem
			font-size fzn + 2rem
			margin 0 10rem 0 -10rem

	&.middle[class*='icon-']
		&:before
			vertical-align -4rem
			font-size fzn + 2rem
			margin 0 10rem 0 0rem

	&.small[class*='icon-']
		&:before
			vertical-align -3rem
			font-size fzn
			margin 0 10rem 0 0

	&.xsmall[class*='icon-']
		&:before
			vertical-align -2rem
			font-size fzn - 3rem
			margin 0 5rem 0 0

	&.button_notext
		padding-left 0!important
		padding-right 0!important
		&:before
			float none
			margin 0 15rem!important
		&.xsmall
			&:before
				margin 0 5rem!important
		&.small
			&:before
				margin 0 8rem!important
		&.middle
			&:before
				margin 0 11rem!important


	&.loader
		color transparent
		text-shadow none
		background-image url(../images/loading_w.gif)
		background-position center
		background-repeat no-repeat
		background-size auto 40%
		background-color cl2
		transition background .2s, color .1s
		&:hover
			background-color cl2
			cursor default
			box-shadow none

		&.second, &.second:hover
			background-color cl3
		&.dark, &.dark:hover
			background-color cl1
		&.cancel, &.cancel:hover
			background-color cerror
		&.light, &.light:hover
			background-color transparent
			background-image url(../images/loading.gif)
			background-size auto 40%

		&:active
			text-shadow none


	&:focus
		// outline none

	// &:active
	// 	transition .03s
	// 	background-color cl2 - 5%
	// 	text-shadow 0 -1rem 0 rgba(#000,0.2)

	&.noclick
		box-shadow none
		cursor default
		pointer-events none


.buttons_group
	display inline-block
	vertical-align middle
	.button
		border-radius 0
		margin 0
		float left
		border-right 1rem solid rgba(#fff,0.2)
		position relative

		&:first-of-type
			border-top-left-radius brbut
			border-bottom-left-radius brbut
		&:last-of-type
			border-top-right-radius brbut
			border-bottom-right-radius brbut
			border-right none
			&:after
				display none
		&.clean
			&:first-of-type
				padding-right 0

.buttons_group_filter
	.button
		background cbglight
		border 1rem solid cbglight - 15%
		box-shadow none
		margin-left -1rem
		color ctextlight
		text-shadow none
		&:hover
			background cbglight + 20%
		&:after
			display none
		&:first-child
			margin-left 0
		&.active
			background cbglight - 5%
			box-shadow inset 0 1rem 1rem rgba(#000,0.1)
			cursor default
		.ruble, .dollar, .euro
			color ctextlight
		&.active
			.ruble
				color #C06433
			.dollar
				color cl3 - 10%
			.euro
				color cl2

.delete
	width 18rem
	height 18rem
	display inline-block
	border-radius 50%
	z-index 10
	background url(../images/icon_delete.svg) no-repeat center
	background-size 18rem
	cursor pointer
	transition none
	&:hover
		transform rotate(90deg)
		transition .3s

.trash
	min-width 20rem
	height 20rem
	display inline-block
	text-align center
	z-index 10
	cursor pointer
	transition color .2s
	font-size fzn + 1rem
	color ctexterror!important
	&:before
		margin 0
		width auto
		color ctexterror
	&:hover
		color ctexterror + 20%!important
		&:before
			color ctexterror + 20%

a.block_close
	position absolute
	right 10rem
	top 8rem
	color ctextlight
	font-size fzn - 4rem
	&:hover
		color ctext
		&:before
			transform none

.button_clean
	color ctextlight
	text-decoration underline
	font-size fzn - 2rem
	display inline-block
	font-weight fwm
	text-transform uppercase
	&:before
		margin-right 5rem
		text-decoration none
	&:hover
		color ctext
	&.small
		font-size fzn - 4rem
	&.xsmall
		font-size fzn - 5rem
	&.big
		font-size fzn + 2rem

	&.disabled, &[disabled]
		cursor no-drop
		color ctextdis
		&:hover
			color ctextdis

	& + .button_clean
		margin-left 20rem
	& + .button_clean_dropdown
		margin-left 10rem



.button_clean_dropdown
	width 20rem
	height 20rem
	display inline-block
	vertical-align middle
	color ctextlight
	text-align center
	font-size fzn - 2rem
	&:before
		width auto
		min-width auto
		margin 0
	&:hover
		color clink

	&.small
		width 16rem
		height 16rem
		font-size fzn - 3rem


