@charset "utf-8"



@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'),  url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),  url('../fonts/roboto/roboto-book-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'),  url('../fonts/roboto/roboto-bookitalic-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-bookitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}



@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('RobotoMedium'), url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('RobotoMediumItalic'), url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('RobotoBold'), url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('RobotoBoldItalic'), url('../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'), url('../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}









//Знак Рубля

@font-face
	font-family 'Ruble'
	src url('../fonts/ruble/PTRouble-Regular.woff') format('woff')
	font-weight 400
	font-style normal
@font-face
	font-family 'Ruble'
	src url('../fonts/ruble/PTRouble-Light.woff') format('woff')
	font-weight 200
	font-style normal



@font-face
	font-family 'Ruble'
	src url('../fonts/ruble/PTRouble-Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'Ruble'
	src url('../fonts/ruble/PTRouble-Bold.woff') format('woff')
	font-weight bold
	font-style normal



// Иконки
@font-face {
	font-family: "mb-icon-font-3";
	src:url("../fonts/icons/mb-icon-font-3.svg#mb-icon-font-3") format("svg"),
		url("../fonts/icons/mb-icon-font-3.woff") format("woff"),
		url("../fonts/icons/mb-icon-font-3.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons/mb-icon-font-3.ttf") format("truetype");

	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	font-family: "mb-icon-font-3" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "mb-icon-font-3" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-reload:before {
	content: "\50";
}
.icon-bell:before {
	content: "\29";
}
.icon-chat:before {
	content: "\2c";
}
.icon-check:before {
	content: "\73";
}
.icon-date:before {
	content: "\53";
}
.icon-profile:before {
	content: "\6d";
}
.icon-search:before {
	content: "\74";
}
.icon-settings:before {
	content: "\e001";
}
.icon-notes:before {
	content: "\54";
}
.icon-like:before {
	content: "\6b";
}
.icon-submenu:before {
	content: "\55";
}
.icon-more:before {
	content: "\37";
}
.icon-arrow-right-long:before {
	content: "\e004";
}
.icon-arrow-up:before {
	content: "\76";
}
.icon-filter:before {
	content: "\65";
}
.icon-to-chat:before {
	content: "\66";
}
.icon-trash-bin:before {
	content: "\62";
}
.icon-pencil:before {
	content: "\41";
}
.icon-payment:before {
	content: "\27";
}
.icon-user-add:before {
	content: "\7a";
}
.icon-close:before {
	content: "\77";
}
.icon-mail-sent:before {
	content: "\70";
}
.icon-print:before {
	content: "\71";
}
.icon-save:before {
	content: "\5e";
}
.icon-favorites:before {
	content: "\22";
}
.icon-favorites-solid:before {
	content: "\25";
}
.icon-fullsize:before {
	content: "\2b";
}
.icon-share:before {
	content: "\5f";
}
.icon-sign:before {
	content: "\45";
}
.icon-clock:before {
	content: "\23";
}
.icon-logout:before {
	content: "\e000";
}
.icon-down-small:before {
	content: "\2a";
}
.icon-step-check:before {
	content: "\72";
}
.icon-info:before {
	content: "\63";
}
.icon-phone:before {
	content: "\e007";
}
.icon-mail:before {
	content: "\46";
}
.icon-round-minus:before {
	content: "\35";
}
.icon-round-plus:before {
	content: "\34";
}
.icon-change:before {
	content: "\32";
}
.icon-menu-clients:before {
	content: "\69";
}
.icon-news:before {
	content: "\3f";
}
.icon-thumbs-down:before {
	content: "\75";
}
.icon-thumbs-up:before {
	content: "\4c";
}
.icon-warning:before {
	content: "\38";
}
.icon-down-big:before {
	content: "\48";
}
.icon-attach:before {
	content: "\49";
}
.icon-delete-circle:before {
	content: "\24";
}
.icon-apple:before {
	content: "\e002";
}
.icon-android:before {
	content: "\e003";
}
.icon-globe:before {
	content: "\68";
}
.icon-left-big:before {
	content: "\64";
}
.icon-timer:before {
	content: "\7c";
}
.icon-stop-light:before {
	content: "\7d";
}
.icon-delivered:before {
	content: "\7b";
}
.icon-file:before {
	content: "\4a";
}
.icon-plus:before {
	content: "\61";
}
.icon-round-action:before {
	content: "\39";
}
.icon-help:before {
	content: "\67";
}
.icon-round-check:before {
	content: "\36";
}
.icon-password:before {
	content: "\4b";
}
.icon-user:before {
	content: "\6a";
}
.icon-fb:before {
	content: "\6c";
}
.icon-tw:before {
	content: "\6e";
}
.icon-vk:before {
	content: "\6f";
}
.icon-right-big:before {
	content: "\51";
}
.icon-home:before {
	content: "\4d";
}
.icon-minus:before {
	content: "\78";
}
.icon-location:before {
	content: "\79";
}
.icon-play:before {
	content: "\42";
}
.icon-pause:before {
	content: "\43";
}
.icon-marker:before {
	content: "\44";
}