@import 'variables.styl'

::-webkit-input-placeholder
	color ctextholder
	font-weight 300
::-moz-placeholder
	color ctextholder
	font-weight 300
:-ms-input-placeholder
	color ctextholder!important
	font-weight 300

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="number"],
textarea
	height 44rem
	border 1px solid cbd
	border-radius brform
	display inline-block
	background-color #fff
	font-family ffn
	font-size fzn
	font-weight fwn
	padding 0 15rem
	color ctext
	box-shadow inset 0rem 2rem 2rem -2rem rgba(0,0,0,0.18)
	box-sizing border-box
	vertical-align middle
	-webkit-appearance textfield
	transition border-color .2s, color .2s, background .2s, box-shadow .2s

	&:focus
		border-color cl2
		box-shadow inset 0rem 2rem 2rem -2rem rgba(0,0,0,0)


	&[disabled], &.disabled
		color ctextdis
		background #f5f5f5
		&::-webkit-input-placeholder
			color ctextdis
		&::-moz-placeholder
			color ctextdis
		&:-ms-input-placeholder
			color ctextdis!important


	// валидация
	&.error
		border-color cerror
		background-color cerror + 97%
		// animation error-border-flash .7s both
		&::-webkit-input-placeholder
			// color ctexterror
		&::-moz-placeholder
			// color ctexterror
		&:-ms-input-placeholder
			// color ctexterror!important
		// &:focus
		// 	border-color cl2

	&.valid, &.success
		border-color csucces
		// background-color csucces + 96%

	// размеры
	&.xsmall
		height 26rem
		padding 0 6rem
		font-size fzn - 2rem
	&.small
		height 38rem
		padding 0 10rem
		font-size fzn - 2rem
	&.big
		height 50rem
		padding 0 15rem
		font-size fzn + 2rem

	// стиль 2
	&.second
		border-color transparent
		box-shadow 0 1rem 1rem rgba(0,0,0,0.12)
		&:focus
			box-shadow 0 1rem 1rem rgba(cl1,0.3)

	&:-webkit-autofill
		transition none
		box-shadow 0 0 0 1000rem white inset
		&:disabled
			box-shadow 0 0 0 1000rem #f5f5f5 inset

input[type="search"]::-webkit-search-decoration
	-webkit-appearance none
input[type="search"]::-webkit-search-cancel-button
	-webkit-appearance none


textarea
	padding 9rem 15rem 8rem
	resize none
	min-height 40rem
	&.small
		padding 6rem 10rem
		min-height  34rem
	&.js_autosize
		transition none
		overflow-x hidden
		overflow-y auto!important
		max-height 126rem
	&.textarea_middle
		min-height 65rem
		max-height 146rem
	&.textarea_big
		min-height 125rem
		max-height 209rem

.textarea_block
	clearfix()

	textarea
		box-shadow none
		border none
		z-index 10
		position relative
		background none
		&:focus ~ .textarea_border
			border-color cl2
		&.error ~ .textarea_border
			border-color cerror
			background-color cerror + 97%


	.textarea_border
		position absolute
		z-index 0
		top 0
		bottom 0
		right 0
		left 0
		border 1rem solid cbd
		background #fff
		border-radius brform
		box-shadow inset 0rem 2rem 2rem -2rem rgba(0,0,0,0.18)
	.textarea_text
		padding 0 15rem 10rem
		font-size fzn - 1rem
		z-index 10
		&.characters_left
			float right
			color ctextlight
			font-size fzn - 4rem
			margin 4rem 0 0

.editor-disable
	color ctextdis
	padding 9rem 15rem 8rem
	background #f5f5f5
	font-family ffn
	font-size fzn - 1rem
	font-weight fwn
	height 200rem
	overflow auto
	border 1rem solid cbd
	border-radius brform


input[type='search'].input_search
	border-radius 30rem
	background-image url(../images/icon_search_input.svg)
	background-repeat no-repeat
	background-position 10rem center
	background-size 16rem auto
	padding-left 30rem
	transition .2s
	&:focus
		background-position -15rem center
		padding-left 10rem

input.input_search_focus
	background-image url(../images/icon_search_input.svg)
	background-repeat no-repeat
	background-position 100% center
	background-size 0rem
	&:focus
		background-position calc(100% - 10rem) center
		background-size 16rem auto
		padding-right 40rem

input.input_loading
	background-image url(../images/loading_ring.gif)!important
	background-position calc(100% - 10rem) center
	background-repeat no-repeat
	padding-right 40rem!important
	background-size 18rem!important



// -------  оформление чекбоксов --------

label.label_check
	display inline-block
	min-width 18rem

input[type='radio'], input[type='checkbox']
	display none!important
	&:focus
		background cbghighlight

	& + label.label_check
		cursor pointer

		.icon
			width 16rem
			height 16rem
			// box-shadow 0 0 0 2rem #D1D1D1
			border 2px solid #D1D1D1
			background #fff
			border-radius 50%
			display inline-block
			appearance none
			vertical-align top
			position relative
			cursor pointer
			margin-right -16rem

			&:active
				background rgba(0,0,0,0.03)
			& + span
				margin-left 30rem
				display inline-block
				vertical-align 0rem
	&:checked
		+ label.label_check
			.icon
				// box-shadow inset 0 0 0 5rem cl3, inset 0 0 0 9rem #fff
				border-color cl3
				border-width 7rem
				width 6rem
				height 6rem
	&:disabled
		+ label.label_check
			cursor no-drop
			color ctextdis
			*
				color ctextdis
			.icon
				background #f5f5f5
				cursor no-drop
				&:after
					color transparent
		&:checked
			+ label.label_check
				.icon
					// box-shadow inset 0 0 0 5rem ctextdis, inset 0 0 0 9rem #fff
					border-color ctextdis
					&:after
						color #fff

// чекбокс
input[type='checkbox']
	& + label.label_check
		.icon
			width 14rem
			height 14rem
			border-radius 2rem
			margin-right -16rem
			&:after
				font-family "mb-icon-font-3"
				text-transform none!important
				font-style normal
				content 's'
				position absolute
				display inline-block
				top 1rem
				left 1rem
				color #fff
				font-size 12rem
				text-align center
				line-height 1
				transition .1s
			// &.big
			// 	width 22rem
			// 	height 22rem
			// 	&:after
			// 		font-size 14rem
			// 		top 4rem
			// 		left 4rem
	&:checked
		& + label.label_check
			.icon
				background cl3
				border-width 2rem
				width 14rem
				height 14rem
				// box-shadow inset 0 0 0 1.5rem cl3

	&:disabled
		&:checked
			+ label.label_check
				.icon
					box-shadow inset 0 0 0 15rem ctextdis

	// круглый чекбокс
	& + label.label_check.circle
		min-width 20rem
		.icon
			width 16rem
			height 16rem
			border-radius 20rem
			&:after
				top 2rem
				left 2rem

	// чекбокс switcher
	& + label.label_check.switcher
		.icon
			width 24rem
			height 12rem
			background cgrey05
			border-radius 2rem
			transition background-color .2s, box-shadow .2s
			margin-right -26rem
			vertical-align -2rem
			&:after
				content ''
				width 12rem
				height 12rem
				background #fff
				// box-shadow inset 0 0 0 1.5rem cgrey18
				border 2px solid cgrey18
				border-radius 2rem
				position absolute
				top -2px
				left -2px
				transition left .2s, box-shadow .2s
			& + span
				margin-left 36rem
				vertical-align top
	&:checked
		+ label.label_check.switcher
			.icon
				background cl3

				&:after
					left 10rem
					border-color cl3



// --------------------

form
	position relative

// фильтры на чекбоксах
.label_filter
	display inline-block
	cursor pointer
input[type='radio'], input[type='checkbox']
	&:checked + .label_filter
		color cl2


label.check
	color ctextlight
	transition .2s
	font-size fzn - 2rem

	&:hover
		color ctext



input.search_right
	background url(../images/search.svg) no-repeat calc(100% - 15rem) center
	padding-right 40rem
input.search_left
	background url(../images/search.svg) no-repeat 15rem center
	padding-left 40rem

// -------------- стилизация select --------------
.form_select
	height 40rem
	border-radius brform
	background url(../images/select_arrow.svg) no-repeat calc(100% - 15rem) center
	width auto
	display inline-block
	overflow hidden
	border 1rem solid cbd
	select
		background transparent
		appearance none
		height 40rem
		width 120%
		width calc(100% + 20rem)
		border none
		border-radius 0
		font-family ffn
		font-size fzn
		font-weight 300
		padding 0 40rem 0 15rem
		cursor pointer
		margin 0
		&:focus
			color cl2
		option
			color cl1

// строка формы
.form_group, .form_group_list
	clearfix()
	margin-bottom 15rem
	.property_label
		color ctextlight
		padding-bottom 3rem

		&.col, &.column, &.columns
			// text-align right
			padding-bottom 0
	.small_text
		padding-top 5rem
.form_group_list
	margin-bottom 10rem

.form_page_important_area
	background cbgsky
	border-top 1rem solid cbdlightsky
	border-bottom 1rem solid cbdlightsky
	padding 15rem 30rem 0
	margin-left -30rem
	margin-right -30rem
	margin-bottom 15rem



.form_horizontal
	.property_label
		padding-top 10rem
.form_horizontal_small
	.property_label
		padding-top 5rem

.form_vertical
	.property_label
		padding-bottom 8rem


// заголовки
.legend
	border-bottom 2rem solid cbdlight
	text-transform uppercase
	font-weight fwm
	margin-bottom 25rem
	span
		display inline-block
		padding 0 0 6rem
		border-bottom 2rem solid cl2
		margin-bottom -2rem

.legend_small
	border-bottom 1rem solid cbdlight
	font-weight normal
	margin-bottom 30rem
	font-size fzn - 2rem
	color ctextlight
	height 10rem
	span
		display inline-block
		padding 0 10rem 0 0
		background #fff
		height 20rem


// блок кнопок в конце формы
.form_buttons
	margin 30rem 0 0
	.links
		display inline-block
		margin 0 0 0 12rem
		font-size fzn - 1rem
		a
			display inline-block
			margin 0 0 0 15rem
			color ctextlight
			text-decoration none
			&:hover
				color ctext

	&+[class*="info_"], &+[class*="captcha"]
		margin-top 15rem

	.form_button_right
		float right
		&.button_clean
			margin-top 13rem

	.ms-parent.select_inline
		vertical-align baseline
	.button, .button_clean
		& ~ .ms-parent
			margin-left 20rem

	&.form_buttons_collums
		display flex
		justify-content space-between
		align-items center
	.form_buttons_left
		text-align left
	.form_buttons_right
		text-align right


// -------------- поле с добавление иконки/текста перед полем --------------
.input_group
	display flex
	vertical-align middle
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="search"]
		width 100%
		min-width 0
		flex 0 1 auto
		z-index 10
		& ~ .input_group_addon
			border 1rem solid cbd
			border-left none

	.ms-parent, .drop-input
		width 1%!important
		flex 1 0 auto

rad-select2
	display none
.input_group_button
	margin-left -1rem
	flex 0 0 auto
	order 3
	&:first-of-type
		border-radius 0 brbut brbut 0
.input_group_addon
	flex 0 0 auto
	min-width 45rem
	height 44rem
	line-height 44rem
	border 1rem solid cbd
	border-right none
	border-radius brform
	border-top-right-radius 0
	border-bottom-right-radius 0
	background cbgsky
	font-family ffn
	font-size fzn - 4rem
	font-weight fwn
	text-align center
	padding 0 7rem
	color ctextholder
	box-sizing border-box
	vertical-align middle
	text-align center
	white-space nowrap
	&[class*='icon-']
		font-size fzn
		&:before
			min-width 0!important
			margin 0
			width auto
	&.big
		height 50rem
		line-height 50rem
		&[class*='icon-']
			font-size fzn + 2rem
		&.addon_code
			font-size fzn + 2rem
	&.addon_code
		font-size fzn - 1rem

	.cur
		font-size fzn
		display block


// -------------- поле с заголовком --------------
.input_group_title
	display inline-block
	vertical-align bottom
	padding-top 18rem
	.input_title
		position absolute
		top 0rem
		left 0
		font-size fzn - 4rem
		display inline-block
		color ctextlight
		transition .2s

	input
		display block
		// &:focus ~ .input_title
		// 	color cl2
		// &.error ~ .input_title
		// 	color ctextlight

	.input_group_title_button_right
		position absolute
		&.small
			right 2rem
			top 21rem
		&.middle
			right 0rem
			top 18rem

// поле с заголовком новое
.field_title
	.field_label
		font-size fzn - 2rem
		font-weight fwl
		margin 0 0 10rem
	.field_text
		input[type="text"],
		input[type="password"],
		input[type="search"],
		input[type="email"],
		input[type="tel"],
		input[type="time"],
		input[type="date"],
		input[type="number"],
		textarea
			&.error
				border-color #F89494
				background-color inherit
			&.success
				border-color cbd
				padding-right 36rem
				& ~ .valid_mark
					background-image url(../images/icon_valid_success.svg)
					opacity 1
					right 10rem
				&:focus
					border-color cl2

		.valid_mark
			position absolute
			right -5rem
			top 13rem
			width 18rem
			height 18rem
			opacity 0
			background-position center
			background-repeat no-repeat
			transition right .2s, opacity .2s




// переключатели
.switch_group
	display inline-block
	clearfix()
	.switch_item
		float left
		&:first-child
			label
				margin-left 0

		&:first-child
			label
				border-top-left-radius brbut
				border-bottom-left-radius brbut
		&:last-child
			label
				border-top-right-radius brbut
				border-bottom-right-radius brbut

	input[type="radio"]
		&:checked ~ label
			background saturate(cbglight - 2%, 30%)
			background #fff
			// box-shadow inset 0 1rem 0 rgba(0,0,50,0.15)
			border-color cbglight - 25%
			border-color cl2
			box-shadow inset 0 0 0 1rem cl2
			font-weight 400
			cursor default
			color cl2
			// color #fff
			z-index 10
	label
		float left
		display block
		height 40rem
		line-height 41rem
		background cbgsky
		// background linear-gradient(cbgsky, cbgsky - 3%)
		border 1rem solid cbd
		margin-left -1rem
		color ctextlight
		padding 0 15rem
		font-size fzn
		cursor pointer
		z-index 1
		position relative
		&:hover
			background #fff




	&.switch_tabs
		.switch_item
			input[type='radio']
				&:checked ~ label
					&:after, &:before
						top 100%
						left 50%
						border solid transparent
						content " "
						height 0
						width 0
						position absolute
						pointer-events none
						margin-top -1rem
					&:after
						border-color rgba(255, 255, 0, 0)
						border-top-color #fff
						border-width 4rem
						margin-left -4rem
					&:before
						border-color rgba(0, 255, 0, 0)
						border-top-color cl2
						border-width 7rem
						margin-left -7rem
	&.small
		label
			height 32rem
			line-height 32rem
			padding 0 10rem



//-------------- кнопка загрузки файла --------------

.button_file_upload
	position relative
	display inline-block
	overflow hidden
	font-size fzn - 4rem
	color clink

	&.button
		color #fff

	&[class*="icon-"]:before
		font-size fzn
		color clinklight
		vertical-align -2rem
	&:not(.button):hover
		color cl2
		&:before
			color cl2

	input[type='file']
		position absolute
		top 0
		right 0
		margin 0
		opacity 0
		// filter: alpha(opacity=0);
		// -ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
		// -moz-transform translate(-300rem, 0) scale(4)
		direction ltr
		cursor pointer
		font-size 150rem
		line-height 150rem
		height 150rem
	&:active
		transform none



// -------------- каптча ------------------
.captcha
	text-align center
	.captcha_left
		width 110rem
		display inline-block
		margin 0 20rem 0 0
		input[type="text"]
			width 100%
			height 34rem
			font-size fzn - 2rem
		a
			font-size fzn - 3rem
			color ctextlight
			font-weight fwl
			display block
			margin 3rem 0 0
	img
		width 100rem!important





// ---------- загрузка файлов ------------------

.file_upload_list
	clearfix()

	&.vertical
		.file_upload_block
			width 100%
			height auto
			float none
			text-align left
			padding 10rem

			.file_title
				display inline-block
				width calc(100% - 112rem)
				font-size fzn - 2rem
				vertical-align middle

			.file_button
				position relative
				display inline-block
				vertical-align middle
				bottom auto
				top auto
				right auto
				left auto
			.file_icon
				display inline-block
				margin 0 10rem 0 0
				height 34rem
				width 26rem
				background-size 100%
			.uploaded
				padding 10rem
				.file_title
					max-height 200rem
					margin 0
					width calc(100% - 45rem)
			.total-progress-box
				position relative
				width 44rem
				height 44rem
				margin -5rem auto
				top 0
			.total-progress
				&:before
					background #f6fafc


.file_upload_block
	width 170rem
	height 135rem
	margin-bottom 14rem
	border-radius 6rem
	border 1rem dashed #ADBAC5
	display inline-block
	float left
	vertical-align middle
	padding 10rem 10rem 0
	box-sizing border-box
	text-align center
	&:nth-child(4n-3)
		margin-left 0


	&.error
		border-color cerror
		.file_title
			color ctexterror

	.uploaded
		display table
		table-layout fixed
		width 100%
		height 100%
		width calc(100% + 23rem)
		height calc(100% + 13rem)
		margin -11rem
		border-radius 6rem
		border 1rem solid #fff
		background #fff
		box-shadow 0rem 1rem 1rem 0rem rgba(0,0,0,0.12)
		padding 10rem 10rem 0
		box-sizing border-box
		.file_center
			display table-cell
			vertical-align middle
			width 100%

		.file_title
			color ctext
			margin-top 5rem
			word-wrap break-word
			max-height 44rem

	.icon-info
		position absolute
		right 8rem
		top 8rem
		z-index 10
	.file_icon
		margin-bottom 7rem
	.file_delete
		width 20rem
		height 20rem
		position absolute
		right -8rem
		top -8rem
		border-radius 50%
		z-index 10
		background #fff url(../images/icon_delete.svg) no-repeat center
		cursor pointer
		transition .2s
		&:hover
			transform rotate(90deg)
	.file_name
		color ctextlight
		font-size fzn - 4rem
		overflow ellipsis
		max-width 100%
	.file_title
		color ctextlight
		font-size fzn - 4rem
		line-height 120%
		max-height 56rem
		overflow hidden
	.file_button
		position absolute
		bottom 15rem
		left 0
		right 0
	.file_button_add_page
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		label.button_file_upload
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			color ctextlight
			font-size fzn - 2rem
			padding-top 27rem
			&:hover
				background rgba(#fff,0.15)
			&:before
				font-size fzn + 10rem
				display block
				margin 0 0 15rem
				color ctextlight
	.total-progress-box
		position absolute
		top calc(50% - 25rem)
		left 0
		right 0

	.total-progress
		display inline-block
		border-radius 50rem
		width 44rem
		height 44rem
		&:before
			content ''
			width 34rem
			height 34rem
			position absolute
			top 5rem
			left 5rem
			border-radius 50%
			background cbglight
	.total-progress-value
		position absolute
		font-size fzn - 3rem
		left 6rem
		top 6rem
		height 30rem
		right 6rem
		line-height 30rem
		text-align center

	step = 1
	loops = 100 / step
	increment = 360 / loops
	half = loops / 2

	for $i in (1..loops)
		.progress-{step*$i}
			if $i < half
				nextdeg = 90deg + (increment*$i)
				background-image linear-gradient(90deg, cbglight 50%, transparent 50%, transparent), linear-gradient(nextdeg, cl2 50%, cbglight 50%, cbglight)
			else
				nextdeg = -90deg + ( increment * ( $i - half ) )
				background-image linear-gradient(nextdeg, cl2 50%, transparent 50%, transparent), linear-gradient(270deg, cl2 50%, cbglight 50%, cbglight)



.file_upload_list

	.file_upload_item
		padding 0 0 12rem
		font-size fzn - 2rem
		overflow hidden
		// &:last-child
		// 	border-bottom none
		// 	padding-bottom 0
		// .file_upload_item_info
		// 	position relative
		// 	display block
		// 	margin -6rem 0
		// 	padding 6rem 0

		.file_icon
			display inline-block
			width 14rem
			height 18rem
			background-size 14rem auto
			margin 0 4rem 0 0
			vertical-align middle
		.file_error_text
			position absolute
			right 25rem
			top 1rem

		&.error
			.file_name
				max-width calc(100% - 16rem - 20rem - 130rem)
				color ctexterror
		.file_name
			text-decoration none
			color clink
			max-width calc(100% - 16rem - 20rem)
			overflow ellipsis
			display inline-block
			vertical-align middle
		a.file_name:hover
			text-decoration underline
			color cl2
		.file_delete
			position absolute
			right 0
			top 0
			opacity 0
			transition opacity .2s
			font-size 14rem
			color ctexterror
			&.show
				opacity 1
		&:hover
			.file_delete
				opacity 1

		.total-progress-box
			height 19rem
			margin-right 25rem
		.total-progress-value
			color ctextlight
			font-size fzn - 4rem
			text-align center
		.total-progress
			position absolute
			bottom 0
			left 0
			height 3rem
			background cl3
			border-radius 2rem

	// файлы в строку
	&.inline
		.file_upload_item
			display inline-block
			margin 0 4rem 4rem 0
			background cbglight
			border-radius 2rem
			padding 6rem 30rem 6rem 10rem
			min-width 100rem

			.file_upload_item_info
				padding 6rem 30rem 6rem 10rem
				margin -6rem -30rem -6rem -10rem
			.file_name
				max-width 200rem
			.file_delete
				right 6rem
			.file_error_text
				position relative
				top auto
				right auto
				float right
				font-size fzn - 2rem
				margin-left 10rem


// разделитель в форме
.form_sep
	display block
	height 1rem
	width 100%
	margin 20rem auto
	background cbdlight
	&.noborder
		background none
		margin 15rem auto
		width 100%
.form_sep_full
	display block
	height 1rem
	width 100%
	margin 20rem 0
	background cbdlight


// фильтр по дате
input.datetimepicker
	padding-left 28rem!important
	background-image url(../images/icon_date.svg)
	background-repeat no-repeat
	background-position 6rem center

.filter_date_value
	padding 15rem 0 0
	max-width 250rem
	overflow hidden
	input.date_from, input.date_to
		font-size fzn - 4rem

input.date_from, input.date_to
	width 48%
	float left

input.date_from
	background url(../images/icon_date_from.svg) no-repeat 6rem center
	background-size 20rem
input.date_to
	background url(../images/icon_date_to.svg) no-repeat 6rem center
	float right
	background-size 20rem

// textarea с загрузкой
.textarea_with_attach
	border 1rem solid cbd
	border-radius brform
	display inline-block
	background-color #fff
	font-family ffn
	font-size fzn - 1rem
	font-weight 300
	padding 0
	color ctext
	box-shadow inset 0rem 2rem 2rem -2rem rgba(0,0,0,0.18)
	box-sizing border-box
	vertical-align middle
	transition .2s
	textarea
		border none
		box-shadow none
		background none

	.button_file_upload
		margin 5rem 0 7rem 12rem

.form_disabled_overlay
	position absolute
	top 0
	bottom 0
	right 0
	left 0


// визивиг
.mce-tinymce
	&.error
		.mce-edit-area
			border 1rem solid cerror
	&.success
		.mce-edit-area
			border 1rem solid csucces


// валидация полей
.form_error
	color ctexterror
	font-size fzn - 2rem
	margin 15rem 0 0

// иконки инфо для поля
.field_info
	width 17rem
	height 16rem
	position absolute
	top 14rem
	right 8rem
	color clinklight
	font-size fzn
	line-height 1
	cursor pointer
	&:before
		margin 0
	&:hover
		color cl2
	& ~ input
		padding-right 70rem!important
	& ~ .valid_mark
		right 35rem!important


.value_info
	width 17rem
	height 16rem
	margin-left 10rem
	color clinklight
	font-size fzn
	line-height 1
	cursor pointer
	&:before
		margin 0
	&:hover
		color cl2