// страница с картой
.page_map
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	overflow hidden
	&.active_list
		.page_map_list
			transform translateX(0px)
			.toggle
				left -50px
				span
					background transparent
				&:before
					transform rotate(45deg)
					top calc(50% - 1px)
				&:after
					transform rotate(-45deg)
					top calc(50% - 1px)
	.page_map_area
		position absolute
		top 0
		bottom 0
		left 0
		right 0
	.page_map_list
		position absolute
		width 300px
		top 0
		bottom 0
		right 0
		background #fff
		box-shadow -1px 0 2px rgba(0,0,0,0.1)
		transform translateX(300px)
		transition transform .3s


		.toggle
			position absolute
			top 20px
			left -60px
			transition left .2s
			span
				width 20px
				height 2px
				background ctext
				position absolute
				top calc(50% - 1px)
				left 10px
				transition background .2s .3s
			&:before, &:after
				content ''
				width 20px
				height 2px
				background ctext
				position absolute
				top calc(50% - 7px)
				left 10px
				transition top .2s .3s, transform .2s .3s
			&:after
				top calc(50% + 5px)
		ul
			overflow auto
			overflow overlay
			max-height 100%

		li
			border-bottom 1px solid cbdlight
			&:last-child
				margin-bottom 70px
			a
				display block
				padding 15px
				color ctext
				text-decoration none
				position relative
				&:hover
					background cbghighlight
			.title
				display block
				font-weight fwm
				margin 0 0 4px
			.desc
				display block
				color ctextlight
				margin 2px 30px 0 0
				font-size fzn - 2px
			.location
				position absolute
				right 15px
				top calc(50% - 8px)
				font-size fzn - 5px
				color ctextlight

	.ymaps-2-1-41-map-bg-ru
		background none!important
	.ymaps-2-1-41-copyrights-pane
	.ymaps-2-1-41-controls-pane
		display none!important

	.map_but
		width 40px
		height 40px
		border-radius 50%
		background #fff
		box-shadow 0 2px 5px rgba(#000,0.2)
		position absolute
		left 20px
		color ctext
		text-align center
		line-height 48px
		font-size fzn + 4px
		cursor pointer
		&.location
			top calc(50% - 110px)
		&.zoom_in
			top calc(50% - 50px)
		&.zoom_out
			top calc(50%)
		&:before
			margin 0
	.map_search
		position absolute
		top 20px
		left 20px
		width 300px
		input
			float left
		.button
			background #fff
