@charset "utf-8"
@import 'nib'
@import 'variables.styl'

::-webkit-scrollbar
	height 12rem
	width 12rem
	background transparent
::-webkit-scrollbar-thumb
	border-radius 10rem
	cursor pointer
	width 12rem
	cursor pointer
	border 4rem solid rgba(255, 255, 255, 0)
	background-clip padding-box
	background-color rgba(cl1, 0.1)
	&:hover
		background-color rgba(cl1, 0.4)
		cursor pointer

*
	margin 0
	padding 0
	vertical-align baseline
	outline none
html
	font-size 1px
html, body
	position relative
	min-height 100%
	height 100%

body
	font-size fzn
	font-family ffn
	font-weight fwn
	color ctext
	line-height 1.3
	-webkit-font-smoothing: antialiased

@import 'fonts.styl'
@import 'forms.styl'
@import 'buttons.styl'
@import 'map.styl'