@charset "utf-8";
@import 'variables'

.new_function
	width 700rem
	margin 30rem auto
	.logo
		height 45rem
		display block
		background url(../images/logo.svg) no-repeat center center
		background-size auto 100%
		text-indent -10000em
		margin 0 0 30rem
	h1
		text-align center
		margin 0 0 20rem
	.block
		padding 40rem 40rem 10rem
		background #fff
		margin 0 0 30rem
		h1
			color cl1
			margin 50rem 0 40rem
			font-weight fwm
			letter-spacing .5rem
			font-size 18rem
			text-transform uppercase
			text-align left
			&:first-child
				margin-top 0
	p
		line-height 1.4
		margin 0 0 15rem
	figure
		margin 20rem 0
		text-align center
	img
		max-width 100%
		height auto
		box-shadow 0 5rem 10rem rgba(#000,0.1)
		padding 5rem
		border 1rem solid cbd
		&.clear
			box-shadow none
			border none

	.nav
		text-align center
		a
			display inline-block
			margin 0 10rem
			&.icon-right-big
				&:before
					float right
					margin-left 5rem
					margin-top 1rem