@charset "utf-8";
@import 'variables'

.new_function
	width 700px
	margin 30px auto
	h1
		text-align center

	.block
		padding 40px 40px 10px
		background #fff
		margin 0 0 30px
		h1
			color cl1
			margin 50px 0 40px
			font-weight fwm
			letter-spacing .5px
			font-size 18px
			text-transform uppercase
			text-align left
			&:first-child
				margin-top 0
	p
		line-height 1.4
		margin 0 0 15px
	figure
		margin 20px 0
		text-align center
	img
		max-width 100%
		height auto
		box-shadow 0 5px 10px rgba(#000,0.1)
		padding 5px
		border 1px solid cbd
