@charset "utf-8";
@import 'variables'

.open_account
	h4
		font-weight 400
		margin 0 0 20px

	.search_ogrn
		margin-bottom 35px

.docs_row
	margin-bottom 15px
	max-width 900px
	.docs_block
		.file_upload_list
			margin-bottom 15px


.docs_block
	background cbglight
	padding 20px 25px
	margin-bottom 15px
	max-width 900px
	box-sizing border-box
	clearfix()
	.title
		font-size fzn + 4px
		margin 0 0 15px
		.icon-info
			margin-left 10px
	.small_text
		margin 15px 0

.beneficiar_list
	.beneficiar_item
		margin-bottom 10px
		&:nth-of-type(2n+1)
			margin-left 0

	.beneficiar_item_name
		font-size fzn + 1px
		color cl2
		margin 0 0 15px
		font-weight normal


.podpisant_list
	// overflow hidden
.podpisant_item
	margin 0 0 20px
	&.minimized
		.podpisant_item_info
			display none

.podpisant_item_name
	position relative
	display block
	padding 0 15px
	height 42px
	line-height 39px
	background #fff
	box-shadow 0px 1px 1px rgba(0,0,0,0.12)
	font-size fzn + 1px
	font-weight normal
	color cl2
	text-decoration none
	z-index 20
	font-weight 300
	color ctextlight
	a
		font-weight normal
		margin-right 10px
	.post
		display inline-block
	.podpisant_delete
		float right
		font-size fzn - 2px
		color ctexterror
		&:before
			vertical-align -2px
		&:hover
			text-decoration underline

.podpisant_item_info
	margin -22px -25px 20px
	padding 40px 25px 20px
	background cbglight - 5%
	border-top 3px solid #fff
	border-bottom 3px solid #fff
	z-index 10

.podpisant_add_link
	display inline-block
	margin-bottom 10px

.manager_photo
	text-align center
	float left
	img
		border-radius 50%
		width 150px
		height 150px
		border 5px solid #fff
		z-index 10
		position relative
		margin 0 0 8px
	&:before
		content ''
		width 155px
		height 155px
		display block
		border-radius 50%
		background cl3
		position absolute
		left -1px
		top 8px
		z-index 1
	&:after
		content ''
		width 157px
		height 157px
		display block
		border-radius 50%
		background cl2
		position absolute
		right -1px
		top -1px
		z-index 1
.manager_name
	margin 0 0 2px
.manager_post
	font-size fzn - 2px
	color ctextlight
.manager_text
	margin 0 0 0 200px


// активация эцп
.ecp_activation_step
	padding-left 60px
	.step
		position absolute
		left 20px
		top 17px
		font-size fzn + 4px
		color ctextlight
		font-weight bold
	.circ
		li
			clear both
			overflow hidden