@import 'variables.styl'

.jsRadSelect2
	display inline
// мультиселект
.ms-parent
	display inline-block
	max-width 100%
	vertical-align middle

.ms-choice-focusser
	opacity 0!important
	position absolute!important
	padding 0!important
	border none!important
	left -9999px
	&:focus ~ .ms-choice
		border-color cl2
		box-shadow none
	&:focus.error ~ .ms-choice
		border-color cerror

.ms-choice
	display block
	width 100%
	max-width 100%
	height 40px
	border 1px solid cbd
	border-radius brform
	font-family ffn
	font-size fzn - 1px
	font-weight fwn
	padding 0 45px 0 15px
	box-sizing border-box
	color ctext
	text-decoration none
	background-color #fff
	background-image url(../images/select_arrow.svg)
	background-repeat no-repeat
	background-position calc(100% - 15px) center
	cursor pointer
	box-shadow inset 0px 2px 2px -2px rgba(0,0,0,0.18)
	text-align left
	filter none

	&.disabled
		color ctextdis
		background-color #f5f5f5
		cursor default
		&:focuc
			border-color inherit
	&.open, &:focus
		border-color cl2
		box-shadow none
	> span
		overflow ellipsis
		display block
		max-width 100%
	.ms-choice-multi-item
		&:after
			content ', '
		&:last-child
			&:after
				display none
	div
		display none
	.placeholder
		color ctextholder
		font-weight 300
	&.error
		border-color cerror
		color ctexterror

	&.open
		& ~ .ms-drop
			transform perspective(600px) rotateX(0deg)
			transition opacity .3s, transform .25s
			opacity 1
			visibility visible
.ms-choice-input
	background-image none
	cursor text


.ms-drop
	display block!important
	position absolute
	z-index 1600
	background #fff
	box-shadow 0px 4px 15px rgba(0,30,60,0.2)
	// border 1px solid rgba(0,0,0,0.1)
	min-width 100%
	color ctextlight
	display none
	box-sizing border-box
	padding-right 20px
	max-width 350px
	overflow auto
	margin-right -1000px
	transform-origin top
	transform perspective(600px) rotateX(-90deg)
	transition opacity .3s, transform 1.5s, visibility 0s .3s
	visibility hidden
	opacity 0
	-webkit-overflow-scrolling touch

	// &[style*="block"]
	// 	transform perspective(600px) rotateX(0deg)
	// 	transition opacity .3s, transform .3s
	// 	opacity 1


	&.bottom
		bottom 100%
		transform-origin bottom
	&.right
		right 0
		margin-right 0
	.ms-drop-inner
		width calc(100% + 20px)
		max-height 214px
		-webkit-overflow-scrolling touch
		overflow auto


	ul
		max-height 100% !important
		li
			white-space nowrap
			border-bottom 1px solid cbdlight + 40%

			&:last-child
				border-bottom none

			label, .label_check
				display block
				padding 9px 15px 9px 15px
				cursor pointer
				white-space nowrap
				box-sizing border-box
				font-size fzn - 2px
				color ctext
				>span
					display inline-block
					vertical-align top
					line-height 1.2
					overflow ellipsis
					max-width calc(100% - 21px)

				.select_item_info
					padding 3px 0 0
					font-size fzn - 4px
					display block
					color ctextlight

			input[type='radio']
				& + .label_check
					.icon
						display none
					>span
						margin-left 0
						max-width 100%
						display block


			.select_item_info
				font-size fzn - 4px
				display block



			&.selected
				label, .label_check
					color cl2
					font-weight 400

			&:hover, &.highlight
				background cbghighlight
				// label, .label_check
				// 	color cl2


	.ms-no-results, .ms-choice-no-result
		padding 12px 25px 12px 15px
		font-size fzn - 2px
		color ctextdis
		text-align center

	.ms-group-title
		font-size fzn - 4px
		font-weight 500
		color ctextlight
		color cl2
		font-style italic
		margin 15px 15px 4px

@media (-webkit-min-device-pixel-ratio:0)
	.ms-drop
		padding-right 0
		overflow overlay
		.ms-drop-inner
			width 100%
			overflow overlay



.ms-search
	border-bottom 1px solid cbd
	input
		border none
		width 100%
		background url(../images/icon_search_input.svg) no-repeat 10px center
		background-size 16px auto
		padding-left 34px
		box-shadow none!important
		font-size fzn - 1px





.ms-parent
	&.select_inline
		vertical-align bottom
		.ms-choice
			height auto
			line-height 1.2
			border none
			padding 0
			color clink
			background none
			box-shadow none
			transition .1s
			>span
				border-bottom 1px dashed clink
				color clink

			&:hover
				>span
					color cl2
					border-bottom-color cl2
				.placeholder
					color cl2
			.placeholder
				color clink
				font-weight normal

		.ms-drop
			min-width 0
			top calc(100% + 5px)
			&.bottom
				top auto
				bottom calc(100% + 10px)

	&.select_pos_right
		.ms-drop
			right 0
			margin-right 0

	&.select_full
		width 100%
		.ms-choice
			width auto
		.ms-drop
			max-width 100%
			li
				label
					>span
						white-space normal
						word-wrap break-word
	&.select_pos_left
		.ms-drop
			right calc(100% + 10px)
			top 0


	// в колонку
	&.select_multi_column
		&.select_inline
			.ms-choice
				>span:not(.placeholder)
					border-bottom none
				&:hover
					>span:not(.placeholder)
						color clink

				.ms-choice-multi-item:hover
					span
						color cl2
						border-bottom-color cl2

		.ms-choice-multi-item
			display block
			margin 0 0 2px
			&:after
				display none
			span
				display inline-block
				border-bottom 1px dashed clink
				max-width 100%
				overflow ellipsis

	&.ws_n
		label, .label_check
			>span
				white-space normal



