@charset "utf-8"

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic')
@import url('https://fontastic.s3.amazonaws.com/iSooys8TZ8vPkLZDaZHNw8/icons.css')

@import 'nib'

@import 'fonts.styl'
@import 'base.styl'
@import 'table.styl'
@import 'buttons.styl'
@import 'forms.styl'
@import 'select.styl'
@import 'datetimepicker.styl'
@import 'owl.carousel.styl'
@import 'animations.styl'
@import 'main.styl'
@import 'open_account.styl'
@import 'messenger.styl'
@import 'transaction.styl'
@import 'contragents.styl'
@media screen and (max-width:1020px)
	@import 'tablet.styl'



