@import 'nib'
@import 'variables.styl'

// ------- список таблица -----------
.table_list
	width 100%
	box-sizing border-box

.table_list_header
	box-sizing border-box
	text-transform uppercase
	// padding 14rem 0 10rem 15rem
	padding 0 0 0 15rem
	background #D7F0FA
	border-bottom 2rem solid #B0DAED

	clearfix()
	// margin -1rem -1rem 0

	.table_list_cell
		font-size fzn - 6rem!important
		font-weight 500!important
		color clinklight!important
		overflow ellipsis
		padding-top 15rem
		padding-bottom 13rem
		line-height 1
		a
			color clinklight!important
			text-decoration none
			display inline-block
			max-width 100%
			overflow ellipsis
			box-sizing border-box
			transition color .2s
			line-height 1
			&:hover
				color clink!important

		[class*="icon-sort"]
			padding-right 20rem
			&:before
				float right
				min-width 0
				margin 0 -15rem 0 4rem
				font-size fzn - 8rem

		&.name_search

			input.input_search
				width 150rem
				min-width 150rem
				max-width 100%
				box-sizing border-box
				margin -9rem 0 -10rem
				vertical-align top
				padding-right 5rem
				&:focus
					width 70%
				&.white
					height 28rem
					background-color rgba(clink,0.13)
					background-image url(../images/icon_search_input_white.svg)
					background-size 12rem auto
					border none
					font-size fzn - 3rem
					color #fff
					font-weight normal
					box-shadow none
					&:focus
						background-size 0
						background-color #fff
						color ctext


					&::-webkit-input-placeholder
						color rgba(#fff,0.8)
					&::-moz-placeholder
						color rgba(#fff,0.8)
					&:-ms-input-placeholder
						color rgba(#fff,0.8)!important

					&::-webkit-search-cancel-button
						-webkit-appearance none
					&::-webkit-search-decoration
						-webkit-appearance none
					&::-webkit-search-results-button
						-webkit-appearance none
					&::-webkit-search-results-decoration
						-webkit-appearance none


.table_list_body
	width 100%

// строка
.table_list_row
	width 100%
	// padding 15rem 0 15rem 15rem
	padding 0 0 0 15rem
	box-sizing border-box
	background cbgsky
	border-bottom 1rem dotted cbdlightsky
	transition background linear .02s
	clearfix()

	&:nth-child(even)
		// background cbgsky
	// строка помеченная как новая
	&.new
		&:before
			content ''
			position absolute
			width 8rem
			height 8rem
			border-radius 10rem
			background linear-gradient(cl3 + 30%, cl3)
			left -15rem
			top 50%
			margin-top -4rem
	&.row_new
		background cbgsuccess
		box-shadow inset 2rem 0 0 0 cl3
		&:hover
			background cbgsuccess + 30%
	&.row_error
		background cbgerror
		box-shadow inset 2rem 0 0 0 cerror
		&:hover
			background cbgerror + 30%

	// строка при наведении
	&:hover
		background #fff


	// выделенная строка
	&.row_checked
		box-shadow 0 0 0 1rem cl2
		background #fff
		z-index 2
	&.row_link
		cursor pointer

	&.row_title
		background cbgsky!important
		border-bottom none!important
		border-top 1rem solid cbdlightsky
		margin-top -1rem
		font-weight normal
		.table_list_cell
			float none
			padding-top 8rem
			padding-bottom 8rem
	.show_all
		position absolute
		right 19rem
		top 0
		bottom 0
		display flex
		justify-content space-around
		align-items center
		height 100%
		a
			font-size fzn + 6rem
			color cgrey18
			line-height 0
			&:before
				margin 0
				transition transform .2s
			&:hover
				color cgrey50
		&.active
			a:before
				transform scale(-1)

// ячейка
.table_list_cell
	float right
	font-size fzn - 2rem
	// padding-right 15rem
	padding 15rem 15rem 15rem 0
	box-sizing border-box
	line-height 1.3

	&.last_cell
		padding-right 0

	a
		text-decoration none

	.ms-choice
		font-size fzn - 2rem

	.select2, .select2-choice, .select2-chosen
		max-width 100%
	.select2-choice
		overflow ellipsis
		font-size fzn - 2rem

	&.name
		overflow ellipsis
		float none
		.name_title
			white-space normal
			word-break break-word
		.name_desc
			font-size fzn - 3rem
			color ctextlight
			overflow ellipsis
			max-width 100%
			box-sizing border-box
			margin-top 3rem

		&.name_link
			// top -15rem
			// left -15rem
			// margin-bottom -30rem
			// padding 15rem
			// padding-right 0
			&:hover
				cursor pointer
				.name_title
					color cl2

		&.icon-warning
			padding-right 30rem
			&:before
				color ctextwarning
				position absolute
				right 5rem
				top 17rem

		.info_label_error
			margin-left 5rem

	&.number
		float left

	&.default
		width 110rem
		text-align center
	&.action
		width 20rem
		text-align right
		box-sizing content-box
		line-height 0
		[class*="icon-"]
			font-size fzn
			color cgrey18
			line-height 0
			&:before
				margin 0
			&:hover
				color cgrey50


	&.check
		width 20rem
		box-sizing content-box
		.label_check
			margin-top -3rem
			margin-bottom -10rem
			margin-left 1rem

	&.date
		color ctextlight
		font-weight 400
		font-size fzn - 4rem
	&.summ
		text-align right
		font-size fzn
		.money_income, .money_expense
			display block
			overflow ellipsis
			max-width 100%
		@media screen and (max-width:1150px)
			font-size fzn - 2rem
		.summ_small
			font-weight fwn
			padding-top 3rem
			font-size fzn - 5rem
			color ctextlight
			max-width 100%
			line-height 1
			display block

	&.deadline
		width 85rem
		text-align right
	&.status
		width 15%
		min-width 110rem
		.thumbs_up, .thumbs_down
			margin-left 3rem
		.thumbs_down
			vertical-align -1rem
		span.views
			color ctexterror
	&.performer
		width 15%
		min-width 130rem
	&.tarif
		width 12%
		min-width 110rem
	&.city
		width 15%
		min-width 110rem
	&.group
		width 15%
	&.contact
		width 15%
		min-width 100rem
		max-width 180rem

	.write_now
		position absolute
		right 0rem
		bottom 0rem
		background linear-gradient(left, rgba(#fff,0) 0%, #fff 30%)
		padding 0 4rem 0 10rem



.table_list_small
	.table_list_header
		padding-left 10rem
		.table_list_cell
			padding 10rem 10rem 7rem 0
	.table_list_row
		padding-left 10rem
	.table_list_cell
		padding 10rem 10rem 10rem 0
		&.name
			.input_search
				margin-left -10rem
			&.name_link
				top -10rem
				left -10rem
				margin-bottom -20rem
				padding 10rem


.table_list_light
	border none
	.table_list_header
		background cbgsky
		border-bottom-color cseparator
		margin 0
		.table_list_cell
			color ctextlight!important
			text-shadow none
			font-weight 500!important
			a
				color clinklight!important
	.table_list_row
		background none
		// border-bottom 1rem dotted cbdlightsky
		&:hover
			background cbgsky + 40%
		&.row_checked
			box-shadow none
			background cbghighlight


.table_list_border
	border 1rem solid cseparator



.table_list_white
	border none
	.table_list_header
		background none
		border none
		margin 0
		.table_list_cell
			color ctextlight!important
			text-shadow none
			font-weight 400!important
			a
				color ctextlight!important
			&.name_search
				left -15rem
				input
					margin -13rem 0 -3rem

	.table_list_row
		background #fff
		box-shadow 0rem 1rem 1rem 0rem rgba(0,0,0,0.12)
		margin-bottom 2rem
		border none
		transition background .2s
		&.row_link:hover
			background cbgsky + 30%
			.name, .name_title
				color cl2


// новый вид списка - крупный
.table_list.table_list_big
	.table_list_header
		background #fff
		padding 0 0 0 20rem
		display flex
		align-items center
		border-bottom none
		text-transform none
		border-bottom 2rem solid cbdlight
		.table_list_cell
			font-size fzn - 3rem!important
			color ctextlight!important
			font-weight fwn!important
			padding-top 12rem
			padding-bottom 12rem


	.table_list_row
		background #fff
		padding 0 0 0 20rem
		display flex
		align-items center
		border-bottom 1rem solid cgrey09
		&:hover
			background rgba(0,0,0,0.01)
	.table_list_cell
		padding 20rem 20rem 18rem 0
		float none

	.row_date
		background rgba(0,0,0,0.04)
		font-size fzn - 3rem
		color ctextlight
		border-bottom none
		&:hover
			background rgba(0,0,0,0.04)
		.name, .summ
			font-size fzn - 3rem
		.table_list_cell
			padding-top 10rem
			padding-bottom 10rem
			font-weight fwn
	.check
		padding-top 18rem
	.summ
		font-size 26rem
		min-width 230rem
		font-weight fwl

		.account
			font-weight fwl
			margin-top 2rem
			font-size fzn - 2rem
			color ctextlight
			overflow ellipsis
			max-width 100%

	.name
		white-space normal
		width 100%
		.name_title, .contragent
			font-size fzn + 4rem
			font-weight fwl
			display inline
			margin-right 10rem
		.name_desc
			margin-top 6rem
			font-size fzn - 2rem
			font-weight fwl
			color ctextlight
		.status
			vertical-align 3rem
			// margin-left 15rem


	.action
		width 45rem
		a[class*="icon-"]
			font-size 20rem
		a.icon-payment
			font-size 24rem






// таблица с группировкой
.table_list_group

	&.group_open
		>.table_list_row
			background none
			border-bottom-color transparent

		.group_name_link
			color cl2
			span
				border-bottom-color cl2
			&:before
				transform rotate(90deg) translateX(2rem)


	.table_list_cell.name

		.group_name_link
			max-width calc(100% - 30rem)
			display inline-block
			span
				overflow ellipsis
				max-width calc(100% - 19rem)
				display inline-block
				vertical-align bottom
			&:before
				transition .3s
		.count
			color ctextlight
		.group_name_edit
			margin-top 0


.table_list_group_content
	padding 5rem 10rem 15rem
	&.ng-animate
		transition .3s
		overflow hidden
	&.ng-hide-add-active
		height 0
		opacity 0
	&.ng-hide-remove-active
		height auto
		opacity 1

.table_row_info
	padding 40rem 0
	.info_center
		width 400rem
		margin 0 auto
		color ctextlight
		text-align center
		font-size fzn - 2rem

// .table_list_more
// 	padding-left 15rem


	// список людей с ролями по группам
.table_list.role_group_list
	.chief
		width 30%
	.action
		width 55rem


	// список людей с ролями
.table_list.role_list
	.group
		width 35%
	.role
		width 25%
	.invite
		width 60%
		.info_label
			margin-top -4rem
	.action
		width 20rem
		box-sizing content-box
	.name_info
		display block
		font-size fzn - 4rem
		color ctextlight
		margin 2rem 0 0








// список транзакций
.table_list.transaction_list
	padding 0

	.name

		.purpose
			margin-top 6rem
			font-size fzn - 2rem
			font-weight fwl
			color ctextlight








// .table_list.transaction_list_usn
// 	.summ
// 		width 24%
// 		max-width 215rem
// 		min-width 150rem
// 		.summ_with_usn
// 			// cursor pointer
// 		.summ_usn
// 			font-weight fwn
// 			padding-top 3rem
// 			font-size fzn - 5rem
// 			color ctextlight
// 			max-width 100%
// 			display inline
// 			// border-bottom 1rem dashed ctextlight + 20%
// 			// cursor pointer
// 			line-height 1
// 			// &:hover
// 			// 	color ctextlight - 30%
// 			// 	border-bottom-color ctextlight - 10%
// 			// 	.money_income, .money_expense
// 			// 		color ctextlight - 30%
// 			.money_income, .money_expense
// 				display inline-block
// 				vertical-align baseline
// 				margin-left 5rem
// 				color ctextlight
// 				font-size fzn - 5rem


// список контактов
.table_list.contact_list
	padding 0
	.summ
		font-size 22rem






.sub_row_group
	display none
	.table_list_row
		background cbgsky - 3%
		&:hover
			background #fff

// вложенная строка
.table_list
	.table_list_row.table_list_subrow
		.table_list_cell.name
			padding-left 50rem


// список избранных
.table_list.favorites_list
	.date
		float left
		width 13%
		min-width 70rem
		.status
			font-weight fwn
			padding-top 3rem


	.summ
		width 20%
		min-width 125rem
		font-weight normal
		.account
			font-weight fwn
			padding-top 3rem
			font-size fzn - 3rem
			color ctextlight
			overflow ellipsis
			max-width 100%


	.contragent
		word-break break-word
		word-wrap break-word
		width 25%
		min-width 100rem
	.action
		width 55rem
		@media (min-width:1400rem)
			width 83rem

		.icon-stop
			font-size fzn - 2rem
		.icon-favorites-solid
			opacity 1
	.name
		float none
		word-break break-word
		word-wrap break-word
		white-space normal
		a
			display inline-block
			vertical-align top
			max-width calc(100% - 35rem)
			br
				display none
			&[contenteditable="true"]
				&:focus
					color ctext
					outline none
					cursor text
					// white-space nowrap
					br
						display none
					// *
					// 	display inline
					// 	white-space nowrap
					& ~ .edit_name
						opacity 0
		.edit_name
			margin-left 10rem
			opacity 0
			transition opacity .2s
	.table_list_row:hover
		.edit_name
			opacity 1


// список клиентов в админке
.table_list.clients_list
	.group
		width 15%
	.service
		width 5%
		min-width 35rem
		text-align center
	.action
		width 5%
		min-width 35rem



// список контрагентов
.table_list.contragents_list
	.to_pay
		width 18%
		max-width 170rem
		min-width 110rem
		font-weight 400
		text-align right
		overflow ellipsis
		max-width 100%
	.last_paid
		width 19%
		text-align right
		max-width 170rem
	.paid_period
		width 18%
		font-weight 400
		max-width 170rem
		min-width 110rem
		text-align right
		overflow ellipsis
		max-width 100%

// список транзакций у контрагента
.table_list.transaction_list_contragent
	.desc
		width auto
		overflow hidden
		float none
	.summ
		width 25%
		float left
		max-width 170rem
	.date
		width 17%
		max-width 100%

// банковская выписка
.statement_list
	.summ
		width 33%
		font-weight normal


// список представителей
.table_list.representatives_list
	.name_title
		color ctext
	.me
		font-weight fwm
	.post
		width 33%
	.sign
		width 25%
		text-align center
		line-height 1.2
		.sign_status
			font-size fzn - 4rem
			line-height 1
			color ctextlight
	.invite
		text-align left
		width 58%
		.invite_status
			font-size fzn - 4rem
			line-height 1
			color ctextlight

// список новостей в админке для дашборда
.news_dashboard_list
	.name
		font-weight normal
		color clink
	.status
		width 16%
	.people
		width 20%
		min-width 170rem
	.read
		width 15%
		min-width 100rem
	.date_send
		font-size fzn - 3rem
		width 15%
		min-width 120rem

// список новостей в админке для дашборда
.news_email_list
	.name
		font-weight normal
		color clink
	.status
		width 18%
		min-width 155rem
	.people
		width 18%
		min-width 170rem
	.read
		width 10%
		min-width 100rem
	.send
		width 10%
		min-width 90rem
	.date_send
		font-size fzn - 3rem
		width 13%
		min-width 120rem

// кол-во просмотров задачи
.views_list
	.group
		width 35%
	.count
		width 15%
		text-align right


// список счетов
.accounts_list
	.balance
		width 20%
	.status
		width 20%
	.type
		width 30%
	.number
		float none

	.account_close
		opacity .5

// зарплатный список html/payroll/payroll_page_list_staff.html
.payroll_staff_list
	.account
		width 185rem
	.bank
		width 24%
	.im
		width 16%
	.otch
		width 18%
	.fam
		float none
		overflow hidden
		word-wrap break-word

// список зарплатный ведомостей
.table_list.payroll_list
	padding 0

	.ndfl
		flex 0 0 20%
		text-align right
		min-width 100rem
	.payments
		flex 0 0 20%
		text-align right
		min-width 100rem


// список сотрудников в создание зарплатной ведомости html/payroll/payroll_page_new.html
.payroll_staff_list_payment
	.summ
		width 15%
		font-size fzn - 2rem
		input[type='text']
			width 100%
			text-align right
			font-size fzn - 1rem
			margin-top -7rem
			margin-bottom -7rem
	.status
		width 10%
		text-align right
		&~.bank
			width 22%
	.account
		width 185rem
	.bank
		width 26%
	.name
		white-space normal
	.check
		float left
	.total
		border-top 2rem solid cseparator
		border-bottom none
		text-align right
		margin-top -1rem
		background none
		.summ
			width 15%
			display inline-block
			padding 10rem 15rem 10rem 0

			.count
				font-size fzn - 4rem
				color ctextlight

// список задач админки
.tasks_list
	.number
		width 80rem
	.name_title
		.online
			&:after
				content ''
				width 6rem
				height 6rem
				border-radius 10rem
				display inline-block
				background cl3
				margin-left 4rem
				vertical-align middle
	.table_list_cell.status
		width 12%