aside
	transform translateX(-65px)
	z-index 1000
	transition transform ease .3s 0s
	&:hover
		transition transform ease .3s .3s, z-index .3s .3s
		transform translateX(0)
		z-index 1500
		.aside_tablet_overlay
			opacity 0
			visibility hidden
			transition opacity ease .3s .3s, visibility 0s .6s

	.aside_tablet_overlay
		visibility visible
		transition opacity ease .3s 0s, visibility 0s 0s


section.main
	left 45px
header
	left 45px

.transaction_currency_filter
	.label_filter
		margin 0 10px