@import 'nib'
@import 'variables.styl'

.section_transaction
	background #fff
	position absolute
	left 0
	top 0
	width 100%
	height 100%
	overflow-x hidden
	overflow-y auto
	-webkit-overflow-scrolling touch

.transaction_accounts
	background cbglight
	padding 25px 25px 40px
	border-bottom 3px solid cseparator

// вабор валюты наверху
.transaction_currency_filter
	padding 18px
	margin 0 0 15px
	.label_filter
		margin 0 15px
	.currency_filter
		text-decoration none
		display inline-block
		font-size fzn + 2px
		color clink
		.count
			display inline-block
			border-bottom 1px dashed @color
		&:hover
			color cl2
			.count
				border-bottom-color cl2
	.currency_filter_disabled
		color ctextlight
		.count
			border-color @color
		.cur
			color @color

	.input_filter
		&:checked + .label_filter
			.currency_filter
				color ctextsuccess
				font-weight normal
				.count
					border-bottom 2px solid ctextsuccess + 5%

	// овердрафт ссылка наверху
	.overdraft_count
		float right
		color ctextlight
		font-size fzn - 2px
		margin 3px 0 0
		a
			color ctextlight
			text-decoration none
			.cur
				color @color
			&:hover
				color cl2
				.cur
					color @color

	.currency_filter_right
		float right
		margin -4px 0 0

// выбор счета

.transaction_choose_account
	margin 0 -25px -12px
	padding 0 25px
	width auto!important

	&.choosed
		.account_item
			transform scale(.9)
			&:hover
				transform scale(1)

	// счет в выборе счетов
	.account_item
		padding 0
		margin 0
		display block
		min-width 220px
		cursor pointer
		transition .2s
		box-sizing border-box
		transform scale(1)
		&:hover
			transform translateY(-3px)
			box-shadow 0px 2px 3px 0px rgba(0,0,0,0.12)
			.desc:after
				opacity 1

		// активный счет
		&.active
			transform scale(1)
			&:after, &:before
				top 100%
				left 50%
				border solid transparent
				content " "
				height 0
				width 0
				position absolute
				pointer-events none

			&:after
				border-color rgba(255, 255, 255, 0)
				border-top-color #fff
				border-width 10px
				margin-left -10px
			&:before
				border-color rgba(221, 221, 221, 0)
				border-top-color #ddd
				border-width 11px
				margin-left -11px

			.desc
				background cruble
				color #fff
				&:after
					display none
				.num, .num:hover
					color #fff


		// долларовый счет
		&.account_dollar
			.desc:after
				background-color cl3
			&.active
				.desc
					background cl3

		// евровый счет
		&.account_euro
			.desc:after
				background-color ceuro
			&.active
				.desc
					background ceuro

		.desc
			padding 15px
			margin 0 0 10px
			overflow hidden
			font-size fzn - 2px
			&:after
				content ''
				display block
				width 90px
				height 4px
				background cruble
				position absolute
				bottom 0
				left 15px
				transition .3s
				opacity .5
			.name
				float left
				font-weight normal
				text-align left
				overflow ellipsis
				max-width calc(100% - 75px)
			.num
				float right
				color ctextlight
				transition none
				&:hover
					color cl2

		.value
			font-size 26px
			text-align left
			padding 0 15px 12px
			max-width calc(100% - 40px)
			white-space nowrap
			overflow hidden
			font-weight 300
			.cur
				font-weight 300
	.add_account
		background cbglight - 4%
		.desc:after
			background-color #fff
			opacity .8
		&:after
			content 'a'
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			background rgba(cbglight - 4%,.8)
			font-family "mb-icon-font"
			font-size 70px
			color #fff
			text-align center
			line-height 1.4
		&:hover
			&:after
				background-color rgba(cl3 + 40%,0.8)
	.owl-item
		padding 3px 0 12px
		box-sizing border-box


// контент в транзакциях
.transaction_content
	background #fff
	padding 40px 25px
	clearfix()

// блок итого в транзакциях
.transaction_total
	background cl5 + 85%
	padding-bottom 10px

	.title
		font-size fzn + 2px
		padding 0 0 10px
		border-bottom none
	.transaction_total_filter
		float right
		font-size fzn - 2px
		@media (max-width:1090px)
			float none
			margin-top 10px
	.col
		width auto
		max-width 350px
		margin 0
	.total_poperty, .total_value
		display inline-block
		box-sizing border-box
		white-space nowrap
	.total_poperty
		width 200px
		text-align right
		padding-right 10px
		font-size fzn - 2px
		color ctextlight
	.money_expense
		color ctexterror
		.cur
			color @color

// просмотр счета
.account_card
	padding 30px
	margin-bottom 40px
.account_card_money
	float right
	text-align right
	margin-top -12px
	// .cur
	// 	position absolute
	// 	top 0
	// 	right 0
	// 	font-size 78px
	// 	font-weight lighter
	// 	line-height 1
	// 	&.ruble
	// 		line-height .5
	// 		span
	// 			line-height .6
	.account_card_money_balance
		font-size 42px
		margin 0
		font-weight lighter
	.account_card_money_hold
		font-size fzn - 2px
		color ctextlight
		span
			color ctext
.account_card_info
	overflow hidden

.account_card_actions
	clear both
	margin 20px 0 0
	a
		margin-right 20px

.account_details_actions
	float right
.share_actions
	a
		color clinklight
		display inline-block
		vertical-align middle
		margin-right 10px
		&:before
			font-size fzn + 2px
			vertical-align middle
		&:hover
			&:before
				color cl2
		// &.icon-save
		// 	&:before
		// 		font-size fzn
		// &.icon-mail-sent
		// 	&:before
		// 		font-size fzn + 6px
	&.share_big
		a
			&:before
				font-size fzn + 8px
			// &.icon-save
			// 	&:before
			// 		font-size fzn + 6px
			// &.icon-mail-sent
			// 	height auto
			// 	&:before
			// 		font-size fzn + 12px


// описание транзакции
.transaction_view_info
	overflow hidden
	margin-bottom 30px
	.transaction_view_info_money
		float left
.transaction_view_info_money
	font-size 40px
	margin-right 30px
	.light_text
		font-size fzn
.transaction_view_info_account
	font-size fzn + 2px
	padding 2px 0 0



.transaction_view_exchange
	.col
		width auto
		width 45%
		float left
		&:first-child
			margin-right 5%
			padding-right 5%
	.transaction_view_info_account
		margin-bottom 10px
		font-size fzn - 2px
	.transaction_view_info_money
		font-size 32px
		margin-right 0

	.from_account, .to_account
		overflow visible
		&:after
			content '→'
			position absolute
			right -15px
			top 0px
			font-size 30px
			color ctextlight + 30%
	.to_account
		&:after
			content '←'




.transaction_view_contragent
	padding 25px 30px
	min-height 45px
	.name
		font-weight normal
		font-size fzn + 3px
		margin-bottom 20px
		.transaction_status_stamp
			top 100%
			// top 0
			right 0
	.transaction_view_contragent_appointment
		margin 30px -30px -25px
		padding 20px 30px
		border-top 1px solid cbdlightsky
		background #fff
		color ctextlight
		font-style italic
		word-break break-word
.stamp_padding
	margin-right 150px

// печать статуса
.transaction_status_stamp
	position absolute
	right 20px
	top 20px
	display inline-block
	padding 6px 15px
	border 4px solid cl2
	color cl2
	font-weight bold
	text-transform uppercase
	font-size fzn - 2px
	transform rotateZ(-8deg)
	text-align center
	opacity .66
	&.success
		border-color cl3
		color cl3
	&.error
		border-color cerror
		color cerror
	&.warning
		border-color ctextwarning
		color ctextwarning
	.date
		display block
		font-size fzn - 5px
		font-weight 500