@import 'nib'
@import 'variables.styl'

.section_transaction
	background #fff
	position absolute
	left 0
	top 0
	width 100%
	height 100%
	overflow-x hidden
	overflow-y auto
	-webkit-overflow-scrolling touch

.transaction_accounts
	background cbglight
	padding 25rem 25rem 40rem
	border-bottom 3rem solid cseparator

// вабор валюты наверху
.transaction_currency_filter
	padding 18rem
	margin 0 0 15rem
	.label_filter
		margin 0 15rem
	.currency_filter
		text-decoration none
		display inline-block
		font-size fzn + 2rem
		color clink
		.count
			display inline-block
			border-bottom 1rem dashed @color
		&:hover
			color cl2
			.count
				border-bottom-color cl2
	.currency_filter_disabled
		color ctextlight
		.count
			border-color @color
		.cur
			color @color

	.input_filter
		&:checked + .label_filter
			.currency_filter
				color ctextsuccess
				font-weight normal
				.count
					border-bottom 2rem solid ctextsuccess + 5%

	// овердрафт ссылка наверху
	.overdraft_count
		float right
		color ctextlight
		font-size fzn - 2rem
		margin 3rem 0 0
		a
			color ctextlight
			text-decoration none
			.cur
				color @color
			&:hover
				color cl2
				.cur
					color @color

	.currency_filter_right
		float right
		margin -4rem 0 0




// контент в транзакциях
.transaction_content
	background #fff
	padding 40rem 25rem
	clearfix()

// блок итого в транзакциях
.transaction_total
	background cl5 + 85%
	padding-bottom 10rem

	.title
		font-size fzn + 2rem
		padding 0 0 10rem
		border-bottom none
	.transaction_total_filter
		float right
		font-size fzn - 2rem
		@media (max-width:1090px)
			float none
			margin-top 10rem
	.col
		width auto
		max-width 350rem
		margin 0
	.total_poperty, .total_value
		display inline-block
		box-sizing border-box
		white-space nowrap
	.total_poperty
		width 200rem
		text-align right
		padding-right 10rem
		font-size fzn - 2rem
		color ctextlight
	.money_expense
		color ctexterror
		.cur
			color @color

// просмотр счета
.account_card
	padding 25rem
	margin-bottom 30rem
	clearfix()

.account_card_money
	float left
	font-size 42rem
	margin 0 0 20rem
	font-weight fwl
	.light_text
		font-size fzn - 2rem
		display block
		font-weight normal
	.account_card_actions
		font-size fzn
		font-weight normal
	.account_card_money_hold
		font-size fzn


.account_card_money_detail_anim
	// height 0
	// transition height .3s, padding .3s
	// overflow hidden
	clear both
	margin 0 -25rem
	// &.ng-hide
	// 	display block!important
	// &.show
	// 	height 69rem
	// 	padding 10rem 0 0

.account_card_money_detail
	padding 15rem 25rem
	background cbgsky - 5%
	clear both
	box-sizing border-box

	&:before
		content ''
		position absolute
		bottom 100%
		left 50rem
		border 10rem solid transparent
		border-bottom-color cbgsky - 5%
	.item
		display inline-block
		margin-right 30rem
		&[class*="icon-round"]
			padding-left 45rem
			&:before
				position absolute
				top 10rem
				left 0
		&.icon-round-minus
			&:before
				color ctextdanger
		&.icon-round-plus
			&:before
				color ctextsuccess
	.title
		font-size fzn - 4rem
		color ctextlight
	.value
		font-size fzn + 2rem
.account_card_info
	overflow hidden
	float right
	width 50%

.account_card_money_dop_serv
	background #fff
	padding 25rem
	margin 0 -25rem
	border-top 1rem solid cbdlightsky
	border-bottom 1rem solid cbdlightsky
	clear both
	.title
		margin 0 0 20rem
		font-size fzn + 2rem
	.col.seven:nth-child(2)
		border-left 1rem solid cbdlight
		padding-left 40rem
		margin-left 0
	.form_group_list:last-child
		margin-bottom 0

.account_card_actions
	clear both
	overflow hidden
	margin 20rem 0 0
	a
		margin-right 20rem

.account_details_actions
	float right
.share_actions
	a
		color clinklight
		display inline-block
		vertical-align middle
		margin-right 10rem
		&:before
			font-size fzn + 2rem
			vertical-align middle
		&:hover
			&:before
				color cl2
		// &.icon-save
		// 	&:before
		// 		font-size fzn
		// &.icon-mail-sent
		// 	&:before
		// 		font-size fzn + 6rem
	&.share_big
		a
			&:before
				font-size fzn + 8rem
			// &.icon-save
			// 	&:before
			// 		font-size fzn + 6rem
			// &.icon-mail-sent
			// 	height auto
			// 	&:before
			// 		font-size fzn + 12rem


// описание транзакции
.transaction_view_info
	overflow hidden
	margin-bottom 30rem
	.transaction_view_info_money
		float left
.transaction_view_info_money
	font-size 40rem
	margin-right 30rem
	font-weight fwl
	.light_text
		font-size fzn
.transaction_view_info_account
	font-size fzn + 2rem
	font-weight fwl
	padding 2rem 0 0



.transaction_view_exchange
	.col
		// width auto
		width 45%
		float left
		&:first-child
			padding-right 7%
	.transaction_view_info_account
		margin-bottom 10rem
		font-size fzn
	.transaction_view_info_money
		font-size 32rem
		margin-right 0

	.from_account, .to_account
		overflow visible
		&:after
			content '→'
			position absolute
			right 5%
			top 0rem
			font-size 30rem
			color ctextlight + 30%
	.to_account
		&:after
			content '←'




.transaction_view_contragent
	padding 25rem 30rem
	min-height 45rem
	&>.name
		font-weight normal
		font-size fzn + 3rem
		margin-bottom 20rem
		.transaction_status_stamp
			top 100%
			// top 0
			right 0
	.transaction_view_contragent_appointment
		margin 30rem -30rem -25rem
		padding 20rem 30rem
		border-top 1rem solid cbdlightsky
		background #fff
		color ctextlight
		font-style italic
		word-break break-word
	.transaction_view_name
		margin -25rem -30rem 30rem
		padding 20rem 30rem
		border-bottom 1rem solid cbdlightsky
		background #fff
		font-size fzn + 2rem
		font-weight fwm
		&~.transaction_status_stamp
			top 120rem


.stamp_padding
	margin-right 150rem

// печать статуса
.transaction_status_stamp, .status_stamp
	position absolute
	right 20rem
	top 20rem
	display inline-block
	padding 6rem 15rem
	border 4rem solid cl2
	color cl2
	font-weight bold
	text-transform uppercase
	font-size fzn - 2rem
	transform rotateZ(-8deg)
	text-align center
	opacity .66
	&.success
		border-color cl3
		color cl3
	&.error
		border-color cerror
		color cerror
	&.warning
		border-color ctextwarning
		color ctextwarning
	.date
		display block
		font-size fzn - 5rem
		font-weight fwm

.transaction_view_contragent_table
	margin 30rem -30rem -25rem

// текущие требования - transaction/transaction_current_requirements.html

.current_requirements
	overflow hidden
	.title
		color ctextlight
		margin 0 0 2rem
		font-size fzn - 4rem
		border-bottom 2rem solid cseparator
		padding-bottom 5rem
		display inline-block
	.current_requirement_to_pay
		float left
		.title
			font-size fzn - 2rem
		.summ
			font-size 40rem
			font-weight fwl
			white-space nowrap
	.current_requirement_summ,
	.current_requirement_paid
		float right
		margin 12rem 25rem 0 25rem
		.summ
			font-size fzn
			white-space nowrap
			margin-top 5rem
			font-size fzn + 2rem


// список выписок по расписанию
.statement_schedule_list
	background cbgsky
	border 1rem solid cbd
	border-radius brbut
	.item
		border-bottom 1rem solid cbd
		overflow hidden
		display flex
		justify-content space-between
		border-radius brbut
		&:last-child
			border-bottom none
		&:hover
			background #fff
	.item_link
		padding 12rem 0 12rem 15rem
		flex 1 1 100%
		color ctext
		text-decoration none
	.item_delete
		flex 0 0 40rem
		text-align center
		display flex
		align-items center
		justify-content center
		color ctextlight
		&:before
			margin 0
		&:hover
			color cerror

.statement_schedule_empty
	font-size fzn - 2rem
	color ctextlight
	padding 0
	// background cbgsky
	.icon-date
		font-size 18rem
		margin-right 2rem
		vertical-align middle