// темно-синий
cl1 = #2D4668
// голубой
cl2 = #00aeef
// зеленый
cl3 = #8dc63f
// светло-голубой
cl4 = #7dd3f7
// салатовый
cl5 = #d7df21


// шрифт
ffn = 'Roboto', Arial
fwn = 300
// кегель
fzn = 16px

// текст
ctext = #454E59

ctextlight = #828A96

ctextholder = #aaa
ctextdis = #bbb

ctexterror = #D0021B
ctextsuccess = cl3 - 20%
ctextwarning = #EBBA00
ctextdanger= #F57F1E


clink = #105A90
clinklight = #6690B0


cbglight = #ECF2F6
cbgsky = saturate(cbglight + 60%, 50%)
cbghighlight = cl2 + 95%
cbglightgreen = cl3 + 90%

cbginfo = #FFFBDB
cbgerror = #FFEBEB
cbgsuccess = #EDFAD7

// цвет границы ошибки
cerror = #E54D4D
csucces = cl3

brbut = 2px
brform = 0px

// цвет границы форм
cbd = #D0D3D7
cbdlight = cbd + 50%
cbdlightsky = saturate(cbglight - 10%, 10%)

// цвет разделителя
cseparator = saturate(cbglight - 5%, 40%)

cruble = #C06433
cdollar = cl3 - 20%
ceuro = cl2